{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 热点发现</title>{% endblock %}
{% block my_css %}
<!--<link rel="stylesheet" href="/static/css/jquery-ui-1.10.0.custom.css">-->
<link rel="stylesheet" href="/static/css/brust_main.css">
<style>

</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="container">
    <h3 class="add" style="color: white;font-weight:800;">热点发现</h3>
    <div class="trend_line" style="margin-top:50px;">
        <h4>时间热度图</h4>
        <div id="trend_line" style="width: 800px;height:300px;margin:20px auto 0;"></div>
    </div>
    <div class="hot_find" style="margin-top:40px;">
        <h4>微博浏览区</h4>
        <div class="sorting" style="text-align: right;margin: 10px 0;">
            <label class="radio-inline">
                <input type="radio" name="event" id="retweeted" value="retweeted" checked> 按原创
            </label>
            &nbsp;
            <label class="radio-inline">
                <input type="radio" name="event" id="sensitive" value="sensitive"> 按转发
            </label>
            &nbsp;
            <label class="radio-inline">
                <input type="radio" name="event" id="comment" value="comment"> 按评论
            </label>
            &nbsp;
            <label class="radio-inline">
                <input type="radio" name="event" id="timestamp" value="timestamp"> 按时间
            </label>
        </div>
        <div id="weibo_content" style="margin-top:20px;">
            <div id="group_emotion_loading" style="display:block;text-align:center;">正在加载，请稍后...</div>
            <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:auto;">
                <table id="input-table" class="In-table" style="display: block;">
                    <tbody class="In-table" style='width:100%!important;'>
                    </tbody>
                </table>
            </div>
            <div class='fanye' style="width:100%;text-align:center;">
                    <span style="display:none;">
                        每页显示
                        <input type="text" id="PageNo" size="5" value="5"
                               style='text-align:center;border:1px solid #ccc;'/>组
                    </span>
                <div id="div-button" style="display:inline-block;margin-left:5px;">
                    <input type="button" value="首页" id="F-page"
                           style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                    <input type="button" value="上一页" id="Pre-page"
                           style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                    <input type="button" value="下一页" id="Nex-page"
                           style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                    <input type="button" value="尾页" id="L-page"
                           style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                </div>
                <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
                <span style="display:inline-block;">总共<span id="s1"></span>页</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block my_js %}
<!--<script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>-->
<script src="/static/js/brust_main-1.js"></script>
<script>

</script>
{% endblock %}

