{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 热点发现</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/jquery-ui-1.10.0.custom.css">
<link rel="stylesheet" href="/static/css/brust_main.css">
<style>

</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="container">
    <h3 class="add" style="color: white;font-weight:800;">热点发现</h3>
    <div class="trend_line" style="margin-top:50px;">
        <h4>时间热度图</h4>
        <div id="trend_line" style="width: 800px;height:300px;margin:20px auto 0;"></div>
    </div>
    <div class="hot_find" style="margin-top:40px;">
        <h4>微博浏览区</h4>
        <div class="sorting" style="text-align: right;margin: 10px 0;">
            <label class="radio-inline">
                <input type="radio" name="event" id="retweeted" value="retweeted" checked> 按原创
            </label>
            &nbsp;
            <label class="radio-inline">
                <input type="radio" name="event" id="sensitive" value="sensitive"> 按转发
            </label>
            &nbsp;
            <label class="radio-inline">
                <input type="radio" name="event" id="comment" value="comment"> 按评论
            </label>
            &nbsp;
            <label class="radio-inline">
                <input type="radio" name="event" id="timestamp" value="timestamp"> 按时间
            </label>
        </div>
        <div id="menu-collapse" style="margin-top:20px;">

        </div>
    </div>
</div>
{% endblock %}


{% block my_js %}
<script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/js/brust_main-1.js"></script>
<script>

</script>
{% endblock %}

