{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 群体概览</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/group_main.css">
<style>

</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="container">
    <h1 class="add">群体概览</h1>
    <div class="group_operating">
        <div class="operating">
            <a href="/group/add/" class="new_build">群体新建</a>
            <a href="###" class="compared" style="color:#9c9c9c;">群体对比</a>
        </div>
        <div class="group_list">
            <div id="group_list"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block my_js %}
<script>
    var submit_user=$('#name').text();
</script>
<script src="/static/js/group_main-1.js"></script>
{% endblock %}
