{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 新建群体</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/group_add.css">
<style>
    .table>thead:first-child>tr:first-child>th {
        width: 1%!important;
    }
</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="container">
    <h1 class="tit">新建群体</h1>
    <div class="new_property" style="margin-top:5%;padding-left: 22%">
        <div>
            <b>新建群体名称</b><input type="text" class="theme_name" placeholder="请输入专题名称">
        </div>
        <div>
            <b>业务标签</b><input type="text" class="theme_tag" placeholder="多个标签用空格分开">
        </div>
        <div>
            <b>添加人物</b>
            <span>输入人物名称</span><input type="text" class="key_words">
            <button class="pro_sure">确定</button>
        </div>
    </div>
    <div class="theme_list" style="margin-top: 40px;">
        <div id="special_topic"></div>
        <button class="new_build" style="display: none;">新建群体</button>
    </div>
</div>
{% endblock %}


{% block my_js %}
<script>
    var submit_user=$('#name').text();
</script>
<script src="/static/js/group_add-1.js"></script>
{% endblock %}
