{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 相似节点计算任务</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/similarity.css">
<style>
    .table>thead:first-child>tr:first-child>th {
        width: 1%;
    }
</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="container">
    <h1 class="tit" style="color: white;font-weight: 900;">相似节点计算任务</h1>
    <div class="search_task">
        <input type="text" class="find" placeholder="多个关键词请用逗号(英文)分开"/>
        <button class="sure">确定</button>
    </div>
    <div class="task" style="width: 90%;margin: 30px auto 0;">
        <div id="task">

        </div>
    </div>

</div>
{% endblock %}

<!------JS-------->
{% block my_js %}
<script src="/static/js/similarity-1.js"></script>
<script>

</script>
{% endblock %}

