{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 专题概览</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/theme_main.css">
<style>
    .table>thead:first-child>tr:first-child>th {
        width: 13%;
    }
</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="container">
    <h3 style="color: white;font-weight:800;padding-top: 0.5%">专题概览</h3>
    <div class="group_operating">
        <div class="operating">
            <a href="###" class="new_build">专题新建</a>
            <a href="###" class="compared">专题对比</a>
        </div>
        <div class="theme_content">
            <div id="theme_list"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block my_js %}
<script>
    var submit_user=$('#name').text();
</script>
<script src="/static/js/theme_main-1.js"></script>
{% endblock %}
