{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 新建专题</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/theme_add.css">
<style>

</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="container">
    <h3 style="color: white;font-weight:800;padding-top: 0.5%">新建专题</h3>
    <div class="new_property" style="margin-top:5%;padding-left: 22%">
        <div>
            <b>新建专题名称</b><input type="text" class="theme_name" placeholder="请输入专题名称">
        </div>
        <div>
            <b>业务标签</b><input type="text" class="theme_tag" placeholder="多个标签用空格分开">
        </div>
        <div>
            <b>添加事件</b>
            <span>输入事件名称或关键词</span><input type="text" class="key_words">
            <button class="pro_sure">确定</button>
        </div>
    </div>
    <div class="theme_list">
        <div id="special_topic"></div>
        <button class="new_build">新建专题</button>
    </div>
</div>
{% endblock %}


{% block my_js %}

<script>
</script>
{% endblock %}
