/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        margin: 0 auto;
    }
}
/*内容样式*/
body {
    width: 100%;
    margin: 0;
    min-width: 1349px;
    /*min-height: 820px;*/
    background-color:#e6e9eb;
}
#container {
    width: 1000px;
    margin: 60px auto 50px;
    padding: 0 0 30px 20px;
    position: relative;
    background:#f3f4f5;
}
h3 {
    width: 241px;
    height: 49px;
    margin-left: -30px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 100% 100%;
}
h1 {
    width: 330px;
    height: 74px;
    margin-left: -30px;
    line-height: 64px;
    text-align: center;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 100% 100%;
}
#container .current_situation .forward_discussion {
    width: 80%;
    margin:5% auto 0;
}
#container .current_situation .forward_discussion label {
    color: #3d3d3d;
}
/*用户发的微博*/
.weibo .user {
    padding: 8px 15px;
    border-bottom: 1px dashed silver;
    position: relative;
}
.weibo .user .user_left {
    border: 5px solid #eee;
    position: absolute;
    left:3%;
    top:14%;
}
.weibo .user .user_left img {
    width: 60px;
    height: 60px;
}
.weibo .user .user_right {
    margin-left: 14%;
}
.weibo .user .user_right span {
    color: #676767;
    font-size: 14px;
}
.weibo .user .user_right .fd_nums {
    text-align: right;
    padding: 1% 3%;
}
/*-----完*/

#container .trend_forecast .forecast_content {
    padding: 4%;
}
#container .trend_forecast .forecast_content p {
    font-size: 16px;
    margin-bottom:1%;
    color: #565656;
}
#container .trend_forecast .forecast_content #forecast_img {
    width: 100%;
    height: 430px;
}




