/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 3108px;*/
        margin: 0 auto;
    }
}
/*内容样式*/
body {
    width: 100%;
    margin: 0;
    min-width: 1349px;
    /*min-height: 820px;*/
    background-color:#e6e9eb;
}
#event_content {
    width: 1170px;
    padding: 40px 0 0 0;
    margin: 0 auto;
}
#event_content #content_left {
    width: 850px;
    padding: 30px;
    float: left;
    margin:0 0 50px 0;
    background:#f3f4f5;
}
#event_content #content_left h3 {
    width: 241px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    margin-left: -40px;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 241px 49px;
}
/*基本信息*/
#event_content #content_left .basic .basic-1 {
    padding: 20px 0 0 50px;
    position: relative;
}
#event_content #content_left .basic .basic-1 .map_area dl {
    position: absolute;
    width: 79px;
    height: 106px;
    padding: 20px 0 0 6px;
    top: -38px;
    text-align: center;
    cursor: pointer;
    background: url("/static/images/e_p.png") no-repeat;
    background-size:79px 106px;
}
#event_content #content_left .basic .basic-1 .map_area dd {
    color: white;
    font-size: 10px;
    margin-top: 10px;
}
#event_content #content_left .basic .basic-1 .map_area dl img {
    width: 30px;
    height: 30px;
}
#event_content #content_left .basic .basic-1 .edit {
    position: relative;
    top: -6px;
    left: 40px;
    padding: 5px 20px;
    color: black;
    font-size: 10px;
    font-weight: 200;
    background-color:rgba(158, 158, 158, 0.13);
    border-radius: 18px;;
    text-align: center;
    box-shadow: 2px 2px 1px #999;
}
#event_content #content_left .basic .basic-1 .edit:hover{
    background-color:rgba(158, 158, 158, 0.4);
}
#event_content #content_left .basic .basic-2 {
    color: black;
    padding-top: 39px;
    margin-bottom: 20px;
    /*height: 220px;*/
    /*overflow: hidden;*/
}
#event_content #content_left .basic .basic-2 .information {
    width: 70%;
    margin:20px auto 0;
}
#event_content #content_left .basic .basic-2 p span {
    color: #676767;
    display: inline-block;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#event_content #content_left .basic .basic-2 p {
    width: 100%;
    padding: 2px 20px;
    font-size: 12px;
    border-bottom:1px dotted silver;
}
#event_content #content_left .basic .basic-2 p .crude {
    width: 120px;
    color: black;
    font-weight: 800;
}
/*网上讨论信息*/
#event_content #content_left .online .hot,
#event_content #content_left .online .place,
#event_content #content_left .online .topic,
#event_content #content_left .online .mood {
    width: 70%;
    margin: 20px auto 0;
}
#event_content #content_left .online .hot #hot_trend,
#event_content #content_left .online .place #place_trend,
#event_content #content_left .online .mood #mood_trend {
    width: 100%;
    height: 400px;
}
/*字符云*/
#event_content #content_left .online .topic #topic_trend {
    width: 100%;
    padding: 5px 20px;
    /*height:370px;*/
    /*position: relative;*/
}
#event_content #content_left .online .topic #topic_trend a {
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    font-weight: bold;
    padding: 3px 6px;
}
#event_content #content_left .online .topic #topic_trend a:hover {
    color: #5232db;
    letter-spacing: 2px;
}
/*文本信息*/
#event_content #content_left .text_info .button_list {
    text-align: center;
    margin-top: 10px;
}
#event_content #content_left .text_info .button_list button {
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #02aacf;
    box-shadow: 1px 1px 1px #c6c7c9;
}
#event_content #content_left .text_info .button_list button:hover {
    background-color:#8bc34a;
}
/*微博内容*/
#event_content #content_left .text_info .info_content .published {
    padding: 10px 30px 20px;
    border-radius: 10px;
}
#event_content #content_left .text_info .info_content .published .master {
    color: #4b4b4b;
    font-weight: 700;
    margin: 10px 0 20px 0;
}
#event_content #content_left .text_info .info_content .published .time{
    color: black;
    font-size: 10px;
}
/*右边栏*/
#event_content #content_right {
    width: 300px;
    float: left;
    margin-left:20px;
}
#event_content #content_right .link_user,
#event_content #content_right .link_event,
#event_content #content_right .link_agency,
#event_content #content_right .link_knowledge,
#event_content #content_right .link_resources{
    /*width: 417px;*/
    /*height: 390px;*/
    padding-bottom: 40px;
    background: url("/static/images/xx_relation.png") no-repeat;
    background-size: 100% 100%;
}
#event_content #content_right .link_user h3,
#event_content #content_right .link_event h3,
#event_content #content_right .link_agency h3,
#event_content #content_right .link_knowledge h3,
#event_content #content_right .link_resources h3{
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 42px;
    margin-left: -8px;
    font-weight: 900;
    background: url(/static/images/result_tit.png) no-repeat;
    background-size: 100% 100%;
}
#event_content #content_right .link_user .users a,
#event_content #content_right .link_event .events a,
#event_content #content_right .link_agency .agencys a,
#event_content #content_right .link_knowledge .knowledge a,
#event_content #content_right .link_resources .resources a {
    width: 70%;
    display: block;
    margin: 10px 0 0 15px;
    color:#676767;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#event_content #content_right .link_user .user_more,
#event_content #content_right .link_event .event_more,
#event_content #content_right .link_agency .agency_more,
#event_content #content_right .link_knowledge .knowledge_more,
#event_content #content_right .link_resources .resources_more {
    cursor: pointer;
    padding: 2px;
    margin-right:-30px;
    color: #676767;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #9fe7f5;
    font-size: 18px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.5833333333333334);
    float: right;
}
#event_content #content_right .link_user .user_more:hover,
#event_content #content_right .link_event .event_more:hover,
#event_content #content_right .link_agency .agency_more:hover,
#event_content #content_right .link_knowledge .knowledge_more:hover,
#event_content #content_right .link_resources .resources_more:hover {
    background-color: #bcbcbc;
    color: white;
}
#link #link_content a {
    display: inline-block;
    width: 90px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin: 15px 0;
}




