/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 970px;*/
    }
}
/*内容样式*/
body {
    width: 100%;
    min-width: 1349px;
    /*min-height: 970px;*/
    background: url("/static/images/graph_add.png") no-repeat;
    background-size: 100% 100%;
}
#container {
    position: relative;
    width: 70%;
    padding:90px 50px 50px;
    margin:110px auto 100px;
    background: #f3f4f5;
    box-shadow: 2px 1px 1px #ccced0;
}
#container .graph_add {
    position: absolute;
    top: 0;
    left: -15px;
    width: 225px;
    height:78px;
    background: url("/static/images/add-1.png") no-repeat;
    background-size: 100% 100%;
}
#container .edit input {
    position: relative;
    top: 3px;
}
#container .edit label {
    color: #5a5a5a;
    font-size: 14px;
}
#container .node .attributes span {
    color: #373737;
    font-size: 14px;
}
#container .node .attributes select{
    padding: 3px 5px;
    border: 1px solid silver;
    margin: 1% 2% 1% 1%;
}
#container .node .attributes .task_time {
    padding:2px 5px;
    border: 1px solid silver;
    margin-left:2%;
}
#container .node .attributes .add_sure,
#container .node #node_list .node_join {
    float: right;
    padding: 5px 10px;
    color: white;
    background-color: #1ab5e2;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #838383;
    cursor: pointer;
    margin: 10px 30px 0 0;
}
#container .node .attributes .manual-1 .upload {
    padding: 2px 8px;
    color: white;
    background-color: #1ab5e2;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #838383;
    cursor: pointer;
    margin: 10px 0 0 20px;
}
#container .node .attributes .manual-1 .upload:hover {
    background-color: #176de2;
}
#container .node .attributes .add_sure:hover,
#container .node #node_list .node_join:hover {
    background-color: #176de2;
}
#container .node #node_list .join {
    margin: 2% 2% 0 0;
}
#container .node .attributes .manual input,
#container .node .attributes .manual-1 input,
#container .node .attributes .manual-2 input {
    margin: 0.5% 2% 1% 1%;
    /*padding: 0;*/
    padding: 3px 5px;
    border: 1px solid silver;
}
#container .node .attributes .event .manual-1 input {
    margin: 0;
}
#container .node .attributes .manual .task_users {
    width: 250px;
}
/*关系*/
#container .relation .rel_manual {
    position: relative;
}
#container .relation .rel_manual .add_plus {
    position: absolute;
    bottom: 0;
    right:43%;
}
#container .relation input,#container .relation select {
    display: inline-block;
    margin: 0.5% 2% 1% 2%;
    border: 1px solid silver;
    padding: 0.4% 1%;
}
#container .relation .uploading .upload-1,#container .relation .uploading .upload-2{
    padding: 0.4% 1%;
    color: white;
    margin-left:4%;
    background-color: #1ab5e2;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #838383;
    cursor: pointer;
}
#container .relation .uploading .upload-1:hover,
#container .relation .uploading .upload-2:hover {
    background-color: #176de2;
}