/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 3108px;*/
        margin: 0 auto;
    }
}
/*内容样式*/
body {
    /*width: 100%;*/
    /*min-width: 1349px;*/
    /*min-height: 3108px;*/
    /*background: url("/static/images/xxx_result.png") no-repeat;*/
    width: 100%;
    margin: 0;
    min-width: 1349px;
    /*min-height: 820px;*/
    background-color:#e6e9eb;
}
#container {
    width: 100%;
    padding: 40px 0 0 0;
    margin: 0 auto;
}
#container #content_left {
    width: 850px;
    padding: 30px;
    float: left;
    margin:0 0 50px 100px;
    background:#f3f4f5;
}
#container #content_left h3 {
    width: 241px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    margin-left: -40px;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 241px 49px;
}
/*基本信息*/
#container #content_left .basic .basic-1 {
    padding: 20px 0 0 50px;
    position: relative;
}
#container #content_left .basic .basic-1 .map_area dl {
    position: absolute;
    width: 79px;
    height: 106px;
    padding: 20px 0 0 6px;
    top: -38px;
    text-align: center;
    cursor: pointer;
    background: url("/static/images/e_p.png") no-repeat;
    background-size:79px 106px;
}
#container #content_left .basic .basic-1 .map_area dd {
    color: white;
    font-size: 10px;
    margin-top: 10px;
}
#container #content_left .basic .basic-1 .map_area dl img {
    width: 30px;
    height: 30px;
}
#container #content_left .basic .basic-2 {
    color: black;
}
#container #content_left .basic .basic-2 .information {
    width: 90%;
    margin:50px 0 0 45px;
    position: relative;
}
#container #content_left .basic .basic-2 .information .tag_2,
#container #content_left .basic .basic-2 .information .tag_3 {
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container #content_left .basic .basic-2 p span {
    color: #676767;
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container #content_left .basic .basic-2 p {
    width: 95%;
    padding: 2px 20px;
    font-size: 12px;
    margin-bottom: 10px;
}
#container #content_left .basic .basic-2 .information a {
    float: right;
    cursor: pointer;
}
/*包含人物*/
#container #content_left .include {
    width: 100%;
    margin-top: 55px;
}
/*时空分析*/
#container #content_left .space_analysis {
    width: 100%;
    margin-top: 50px;
}
#container #content_left .space_analysis .time,
#container #content_left .space_analysis .place {
    width: 80%;
    margin: 10px auto 0;
}
#container #content_left .space_analysis .time span ,
#container #content_left .space_analysis .place span {
    display: inline-block;
    font-size: 16px;
    color: #676767;
}
/*网络分析*/
#container #content_left .network_analysis {
    width: 100%;
    margin-top: 10px;
}
#container #content_left .network_analysis .net_detail {
    width: 80%;
    margin: 2% auto;
}
#container #content_left .network_analysis .net_detail .detail-1 {
    width: 80%;
    margin: 0 auto;
    padding: 7px 0;
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
}
#container #content_left .network_analysis .net_detail .detail-1 span {
    display: inline-block;
    color: #676767;
    font-size: 12px;
}

/*话题分析*/
#container #content_left .topic_analysis {
    width: 100%;
    margin-top:30px;
}
#container #content_left .topic_analysis .topic_left span ,
#container #content_left .topic_analysis .topic_right span {
    display: inline-block;
    font-size: 16px;
    color: #676767;
}
#container #content_left .topic_analysis .topic_left,
#container #content_left .topic_analysis .topic_right {
    display: inline-block;
    width: 45%;
    height: 300px;
    text-align: left;
}
#container #content_left .topic_analysis .topic_left #tag_left,
#container #content_left .topic_analysis .topic_right #tag_right {
    width: 100%;
    height: 100%;
}
/*人物分析*/
#container #content_left .character_analysis {
    width: 100%;
    margin-top:1%;
}
#container #content_left .character_analysis .character-1 {
    width: 100%;
    margin: 2% 0;
}
#container #content_left .character_analysis .character_left span ,
#container #content_left .character_analysis .character_right span {
    display: inline-block;
    font-size: 16px;
    color: #676767;
}
#container #content_left .character_analysis .character_left,
#container #content_left .character_analysis .character_right {
    display: inline-block;
    width: 45%;
    height: 330px;
    text-align: left;
}
#container #content_left .character_analysis .character_left #label_left,
#container #content_left .character_analysis .character_right #label_right {
    width: 100%;
    height: 100%;
}

/*右边栏*/
#container #content_right {
    width: 20%;
    float: left;
    margin-left:20px;
}
#container #content_right .link_user,
#container #content_right .link_event,
#container #content_right .link_agency,
#container #content_right .link_knowledge,
#container #content_right .link_resources{
    /*width: 417px;*/
    /*height: 390px;*/
    padding-bottom: 40px;
    background: url("/static/images/xx_relation.png") no-repeat;
    background-size: 100% 100%;
}
#container #content_right .link_user h3,
#container #content_right .link_event h3,
#container #content_right .link_agency h3,
#container #content_right .link_knowledge h3,
#container #content_right .link_resources h3{
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 42px;
    margin-left: -8px;
    font-weight: 900;
    background: url(/static/images/result_tit.png) no-repeat;
    background-size: 100% 100%;
}
#container #content_right .link_user .users a,
#container #content_right .link_event .events a,
#container #content_right .link_agency .agencys a,
#container #content_right .link_knowledge .knowledge a,
#container #content_right .link_resources .resources a {
    width: 200px;
    display: block;
    margin: 10px 0 10px 20px;
    color:#676767;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#container #content_right .link_user .user_more,
#container #content_right .link_event .event_more,
#container #content_right .link_agency .agency_more,
#container #content_right .link_knowledge .knowledge_more,
#container #content_right .link_resources .resources_more {
    cursor: pointer;
    padding: 2px;
    margin-right:-15px;
    color: #676767;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #9fe7f5;
    font-size: 18px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.5833333333333334);
    float: right;
}
#container #content_right .link_user .user_more:hover,
#container #content_right .link_event .event_more:hover,
#container #content_right .link_agency .agency_more:hover,
#container #content_right .link_knowledge .knowledge_more:hover,
#container #content_right .link_resources .resources_more:hover {
    background-color: #bcbcbc;
    color: white;
}
/**/
#link #link_content a {
    display: inline-block;
    width: 90px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin: 15px 0;
}
#container #content_left .place .define{
    padding: 3px 7px;
    color: white;
    margin-left: 30px;
    font-size: 12px;
    background-color: #1ab5e2;
    border-radius: 5px;
    cursor: pointer;
}
#container #content_left .place .define:hover {
    background-color:#176de2;
}

