/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        height: 920px;
    }
}
/*内容样式*/
body {
    width: 100%;
    min-width: 1349px;
    min-height: 920px;
    background: url("/static/images/xxx_main.png") no-repeat;
}
#container {
    width: 70%;
    margin: 10.5% auto 0;
}
#container .group_operating {
    width: 100%;
    margin: 5% auto 0;
    position: relative;
}
#container .group_operating .operating {
    position: absolute;
    right: 0;
    top:0;
}
#container .group_operating a {
    font-size: 12px;
}
#container .group_operating #group_list {
    width: 100%;
}

