/*内容样式*/
body {
    width: 100%;
    /*max-width: 1349px;*/
    min-width: 1349px;
    min-height: 1005px;
    /*max-height: 1005px;*/
    background: url("/static/images/body.png") no-repeat;
}
#container {
    width: 100%;
    height: 800px;
    padding: 20px 20px 50px 20px;
}
#container #statistics {
    width: 90%;
    height: 368px;
    margin: 20px auto 0;
}
#container #statistics .statis-1 {
    width: 155px;
    height: 250px;
    display: inline-block;
}
#container #statistics .statis-1 .s1-top {
    width: 100%;
    height: 35px;
    background: url("/static/images/statistic.png") no-repeat center;
    background-size: 120px 20px;
}
#container #statistics .statis-1 .s1-bot {
    margin-top: 68px;
}
#container #statistics .statis-1 .s1-bot .bot-nums {
    background: url("/static/images/right.png") no-repeat 5%;
    font-size: 10px;
    color: white;
    padding-left: 30px;
    height: 24px;
    line-height: 24px;
    padding-top: 3px;
    margin-bottom: 8px;
    width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container #statistics .statis-2,
#container #statistics #statis-3{
    width: 400px;
    height: 280px;
    float: right;
}
#container #statistics .statis-2 .s2-left,
#container #statistics .statis-2 .s2-right {
    float: left;
}
#container #statistics .statis-2 .s2-left #search_val {
    color: white;
    font-size: 12px;
    font-weight: 900;
    width: 130px;
    margin: 279px 0 0 0;
    background-color: #465f7d;
}
#container #statistics .statis-2 .s2-left #search_val::-webkit-input-placeholder{
    color: white;
    font-size: 12px;
    font-weight: 900;
}
#container #statistics .statis-2 .s2-left #refer {
    display: inline-block;
    position: relative;
    top: 7px;
    left: -5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#container #statistics .statis-2 .s2-right {
    margin-left: 68px;
    padding-top: 68px;
}
#container #statistics .statis-2 .s2-right .map,
#container #statistics .statis-2 .s2-right .chart{
    width: 50px;
    height: 50px;
}
#container #statistics .statis-2 .s2-right .chart {
    margin:87px 0 0 106px;
}
#container #statistics .statis-2 .s2-right dl {
    cursor: pointer;
}
#container #statistics .statis-2 .s2-right dt img {
    width: 30px;
    height: 30px;
}
#container #statistics .statis-2 .s2-right dt {
    text-align: center;
}
#container #statistics .statis-2 .s2-right dd {
    font-size: 8px;
    color: white;
    margin-top: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container #my_hot {
    margin-top: 120px;
    padding-top: 5px;
}
#container #my_hot .hot_event,
#container #my_hot .hot_user {
    display: inline-block;
    width: 300px;
}
#container #my_hot .my_focus {
    display: inline-block;
    float: right;
    position: relative;
    width: 360px;
    left: -110px;;
}
#container #my_hot .hot_user {
    float: right;
    margin-right: 52px;
}
#container #my_hot .hot_event .event_caption,
#container #my_hot .hot_user .user_caption{
    font-size: 8px;
    color: white;
    padding-left: 20px;
    margin-top: 6px;
    /*height: 22px;*/
    line-height: 22px;
}
#container #my_hot .hot_event .event_caption .event_name,
#container #my_hot .hot_user .user_caption .user_name{
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#container #my_hot .hot_event .event_caption .event_text {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container #my_hot .hot_event .event_more,
#container #my_hot .my_focus .focus_more,
#container #my_hot .hot_user .user_more{
    float: right;
    cursor: pointer;
    padding: 2px;
    margin-top: 2px;
    color: hsl(0, 5%, 78%);
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #9fe7f5;
    font-size: 18px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.5833333333333334);
}
#container #my_hot .hot_event .event_more:hover,
#container #my_hot .my_focus .focus_more:hover,
#container #my_hot .hot_user .user_more:hover {
    background-color: #465f7d;
}
#container #my_hot .hot_user .user_details .details-2,
#container #my_hot .my_focus .focus_details .details-2 {
    text-align: center;
    margin-top: 8px;
}
#container #my_hot .hot_user .user_details .details-1 span,
#container #my_hot .hot_user .user_details .details-2 span,
#container #my_hot .my_focus .focus_details .details-1 span,
#container #my_hot .my_focus .focus_details .details-2 span {
    font-size: 8px;
    color: white;
    display: inline-block;
    width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container #my_hot .my_focus .focus_details .details-1 span,
#container #my_hot .my_focus .focus_details .details-2 span {
    width: 80px;
}
/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        height: 1005px;
        margin: 0 auto;
    }
}

