/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 3108px;*/
        margin: 0 auto;
    }
}
/*内容样式*/
body {
    width: 100%;
    margin: 0;
    min-width: 1349px;
    /*min-height: 820px;*/
    background-color:#e6e9eb;
}
#person_content {
    width: 1170px;
    padding: 40px 0 0 0;
    margin: 0 auto;
}
#person_content #content_left {
    width: 850px;
    padding: 30px;
    float: left;
    margin:0 0 50px 0;
    background:#f3f4f5;
}
#person_content #content_left h3 {
    width: 241px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    margin-left: -40px;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 241px 49px;
}
/*基本信息*/
#person_content #content_left .basic .basic-1 {
    padding: 20px 0 0 50px;
    position: relative;
}
#person_content #content_left .basic .basic-1 .map_area dl {
    position: absolute;
    width: 79px;
    height: 106px;
    padding: 20px 0 0 6px;
    top: -38px;
    text-align: center;
    cursor: pointer;
    background: url("/static/images/e_p.png") no-repeat;
    background-size:79px 106px;
}
#person_content #content_left .basic .basic-1 .map_area dd {
    color: white;
    font-size: 10px;
    margin-top: 10px;
}
#person_content #content_left .basic .basic-1 .map_area dl img {
    width: 30px;
    height: 30px;
}
#person_content #content_left .basic .basic-1 .edit {
    position: relative;
    top: -6px;
    left: 40px;
    padding: 5px 20px;
    color: black;
    font-size: 10px;
    font-weight: 200;
    background-color:rgba(158, 158, 158, 0.13);
    border-radius: 18px;;
    text-align: center;
    box-shadow: 2px 2px 1px #999;
}
#person_content #content_left .basic .basic-1 .edit:hover{
    background-color:rgba(158, 158, 158, 0.4);
}
#person_content #content_left .basic .basic-2 {
    color: black;
    padding-top: 33px;
}
#person_content #content_left .basic .basic-2 .information {
    width: 77%;
    height:260px;
    overflow: hidden;
    margin:42px 0 0 55px;
    position: relative;
}
#person_content #content_left .basic .basic-2 p span {
    color: #676767;
    display: inline-block;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#person_content #content_left .basic .basic-2 p {
    width: 95%;
    padding: 2px 20px;
    font-size: 14px;
    margin-bottom:7px;
    border-bottom:1px dashed #919191;
}
#person_content #content_left .basic .basic-2 p .crude {
    width: 120px;
    color: black;
    font-weight: 800;
}
#person_content #content_left .basic .basic-2 .information .in_photo {
    border: 3px solid #a0a0a0;
    position: absolute;
    top: 2px;
    right: 0;
}
#person_content #content_left .basic .basic-2 .information .in_photo img {
    width: 150px;
    height: 150px;
}
/*影响力*/
#person_content #content_left .influnce .influ-1 {
    width: 60%;
    margin: 50px auto 0;
}
#person_content #content_left .influnce .influ-1 h4 {
    /*width: 95%;*/
    padding: 5px 20px;
    color: #676767;
    letter-spacing: 8px;
    text-align: center;
    margin-bottom:10px;
    border-bottom:1px dashed #919191;
}
/*活动信息*/
#person_content #content_left .activity .location {
    width: 70%;
    margin:40px auto 0;
}
#person_content #content_left .activity .location .message p {
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom:7px;
    border-bottom:1px dashed #919191;
}
#person_content #content_left .activity .location .message p span {
    color: #676767;
}
#person_content #content_left .activity .location .message .position,
#person_content #content_left .activity .location .message .IP,
#person_content #content_left .activity .location .message .time{
    color: black;
    font-weight: 700;
}
/*社交信息*/
#person_content #content_left .social .social-1 {
    width:70%;
    margin: 40px auto;
}
#person_content #content_left .social .social-1 h4 {
    font-size: 24px;
    padding:20px 0;
}
#person_content #content_left .social .social-1 span {
    display: inline-block;
    color: #676767;
}
#person_content #content_left .social .social-1 span.user {
    color: #000;
    font-weight: 800;
    width:80%;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0 15px 10px;
    border-bottom:1px dashed #919191;
    cursor: pointer;
}
/*偏好信息*/
#person_content #content_left .preference {
    width:100%;
}
#person_content #content_left .preference .talk p {
    width: 80%;
}
#person_content #content_left .preference .talk span {
    color: #676767;
    font-size: 16px;
    display: inline-block;
    width: 7%;
    font-weight: 600;
}
#person_content #content_left .preference .talk .talk_name {
    font-weight: 800;
    color: black;
    border-bottom: 1px dashed silver;
    float: right;
    padding-bottom: 5px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*文本信息*/
#person_content #content_left .text {
    width: 100%;
    margin-top: 40px;
}
#person_content #content_left .text .text_information {
    width: 80%;
    margin: 0 auto;
}
/*右边栏*/
#person_content #content_right {
    width: 300px;
    float: left;
    margin-left:20px;
}
#person_content #content_right .link_user,
#person_content #content_right .link_event,
#person_content #content_right .link_agency,
#person_content #content_right .link_knowledge,
#person_content #content_right .link_resources{
    /*width: 417px;*/
    /*height: 390px;*/
    padding-bottom: 40px;
    background: url("/static/images/xx_relation.png") no-repeat;
    background-size: 100% 100%;
}
#person_content #content_right .link_user h3,
#person_content #content_right .link_event h3,
#person_content #content_right .link_agency h3,
#person_content #content_right .link_knowledge h3,
#person_content #content_right .link_resources h3{
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 42px;
    margin-left: -8px;
    font-weight: 900;
    background: url(/static/images/result_tit.png) no-repeat;
    background-size: 100% 100%;
}
#person_content #content_right .link_user .users a,
#person_content #content_right .link_event .events a,
#person_content #content_right .link_agency .agencys a,
#person_content #content_right .link_resources .resources a {
    width: 70%;
    display: block;
    margin: 10px 0;
    color:#676767;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#person_content #content_right .link_user .user_more,
#person_content #content_right .link_event .event_more,
#person_content #content_right .link_agency .agency_more,
#person_content #content_right .link_knowledge .knowledge_more,
#person_content #content_right .link_resources .resources_more {
    cursor: pointer;
    padding: 2px;
    margin-right:-30px;
    color: #676767;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #9fe7f5;
    font-size: 18px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.5833333333333334);
    float: right;
}
#person_content #content_right .link_user .user_more:hover,
#person_content #content_right .link_event .event_more:hover,
#person_content #content_right .link_agency .agency_more:hover,
#person_content #content_right .link_knowledge .knowledge_more:hover,
#person_content #content_right .link_resources .resources_more:hover {
    background-color: #bcbcbc;
    color: white;
}

