/*清除初始的样式*/
html,body,div,img,h1,h2,h3,h4,h5,h6,input,button,span,p,b,strong,em,li,ul,ol,dl,dt,dd,
th,textarea,select,table,form {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}
ul,li,ol {
    list-style: none;
}
img {
    border:none;
}
button,input,select,textarea {
    outline: none;
    border: none;
}
a,a:link,a:hover,a:visited,a:active {
    text-decoration: none;
}
/*内容样式*/
#nav {
    position: relative;
    width: 1349px;
    height: 135px;
    padding:20px 0 0 100px;
    margin: 10px auto 0;
    background: url("/static/images/nav.png") no-repeat;
    background-size: 100% 100%;
}
#nav .nav_list li {
    float: left;
}
#nav .nav_list li a {
    display: block;
    width: 140px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
#nav .username {
    width: 50%;
    text-align: right;
    position: absolute;
    right: 10%;
    bottom: -15%;
}
#nav .username .sign_out {
    padding: 0.5% 3%;
    color: white;
    margin-left: 2%;
    background-color: #1ab5e2;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #838383;
    cursor: pointer;
}
#nav .username .sign_out:hover {
    background-color: #176de2;
}

#nav .find li,#nav .graph li,#nav .mygraph li {
    float: none;
}
#nav .nav_list .find a,#nav .nav_list .graph a,#nav .nav_list .mine a {
    color: #d5d5d5;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    background-color:#494949;
}
#nav .find a:hover,#nav .graph a:hover,#nav .mine a:hover {
    background-color: #7c7c7c;
    color: white;
}


