/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
    }
}
/*内容样式*/
body {
    width: 100%;
    margin: 0;
    min-width: 1349px;
    /*min-height: 820px;*/
    background: url("/static/images/graph_add.png") no-repeat #e6e9eb;
    background-size: 100% 100%;
}
#container {
    width: 80%;
    padding:45px 80px 100px;
    margin: 60px auto 100px;
    position: relative;
    background: #f3f4f5;
    box-shadow: 2px 1px 1px #ccced0;
}
#container .search_add {
    position: absolute;
    top: 0;
    left: -15px;
    width: 225px;
    height:78px;
    line-height: 78px;
    text-align: center;
    font-weight: 900;
}
#container .search {
    width:640px;
    margin: 50px auto 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #f1f1ff;
    border: 1px solid #d2d2d2;
    /*box-shadow: 1px 1px 1px #a2a2a2;*/
}
#container .search ._find {
    padding: 0.5% 2%;
    width: 60%;
    background-color: #e3e3f2;
}
#container .search .sure {
    margin-left: 5%;
    padding:0.5% 2%;
    color: white;
    background-color: #52bbde;
    box-shadow: 1px 1px 1px #d4d4e9;
}
#container .search .sure:hover {
    background-color: #358bde;
}
#container .look {
    width: 100%;
    position: relative;
}
#container .look .advanced {
    position: absolute;
    right: 4%;
    bottom: 1%;
    cursor: pointer;
}
/*高级搜索内容*/
/*节点*/
#container #advanced_search {
    width:95%;
    margin: 20px auto;
    /*border-top: 1px solid silver;*/
    /*border-bottom: 1px solid silver;*/
}
/*起始节点*/
#container #advanced_search .advan-1 {
    /*position: relative;*/
    /*padding-left:9%;*/
    /*border-bottom: 1px solid silver;*/
}
#container #advanced_search .advan-1 .start {
    border: 1px solid silver;
    padding:30px;
    margin-top: 20px;
    border-radius: 10px;
}
#container #advanced_search .advan-1 b.start_plus {
    color: #f3f4f5;
}
#container #advanced_search .advan-1 div:first-of-type b {
    color: #000;
}
#container #advanced_search .advan-1 .tit {
    /*position: absolute;*/
    /*left: 2%;*/
    /*top:50%;*/
    color:#000;
    font-size: 18px;
}
#container #advanced_search .advan-1 .options,
#container #advanced_search .advan-1 span,
#container #advanced_search .advan-1 select,
#container #advanced_search .advan-1 input {
    display: inline-block;
}
#container #advanced_search .advan-1 span {
    color: #676767;
    font-size: 12px;
}
#container #advanced_search .advan-1 .options label{
    margin-left:11%;
}
#container #advanced_search .advan-1 select,
#container #advanced_search .advan-1 input {
    border: 1px solid silver;
    padding: 0.4% 1%;
}
#container #advanced_search .advan-1 .options-1-value {
    width: 250px;
}
#container #advanced_search .advan-1 .options-2-value{
    padding: 0;
}
#container #advanced_search .advan-1 .options-1-value,
#container #advanced_search .advan-1 .options-2-value,
#container #advanced_search .advan-1 .options-3-value {
    display: block;
    margin:20px 0 0 220px;
}
/*关系*/
#container #advanced_search .advan-2 {
    margin-top: 20px;
    /*position: relative;*/
    /*padding-left:9%;*/
    /*border-bottom: 1px solid silver;*/
}
#container #advanced_search .advan-2 .relation {
    border: 1px solid silver;
    padding:30px;
    margin-top: 20px;
    border-radius: 10px;
}
#container #advanced_search .advan-2 .tit {
    /*position: absolute;*/
    /*left: 2%;*/
    /*top:50%;*/
    color:#000;
    font-size: 18px;
}
#container #advanced_search .advan-2 input {
    border: 1px solid silver;
    padding: 0.4% 1%;
}
#container #advanced_search .advan-2 .rel-2-value,
#container .advan-1 .start .upload,
#container .advan-3 .end .upload {
    padding: 3px 8px;
    border: 1px solid #979797;
    background-color: #eaeaea;
    border-radius: 5px;
}
#container #advanced_search .advan-2 .rel-2-value:hover,
#container .advan-1 .start .upload:hover,
#container .advan-3 .end .upload:hover {
    background-color: #dadada;
}
/*终止节点*/
#container #advanced_search .advan-3 {
    margin-top: 20px;
    /*position: relative;*/
    /*padding-left:9%;*/
    /*border-bottom: 1px solid silver;*/
}
#container #advanced_search .advan-3 .end {
    border: 1px solid silver;
    padding:30px;
    margin-top: 20px;
    border-radius: 10px;
}
#container #advanced_search .advan-3 b.end_plus {
    color: #f3f4f5;
}
#container #advanced_search .advan-3 div:first-of-type b {
    color: #000;
}
#container #advanced_search .advan-3 .tit {
    /*position: absolute;*/
    /*left: 2%;*/
    /*top:50%;*/
    color:#000;
    font-size: 18px;
}
#container #advanced_search .advan-3 .options-3,
#container #advanced_search .advan-3 span,
#container #advanced_search .advan-3 select,
#container #advanced_search .advan-3 input {
    display: inline-block;
}
#container #advanced_search .advan-3 span {
    color: #676767;
    font-size: 12px;
}
#container #advanced_search .advan-3 .options-3 label{
    margin-left:11%;
}
#container #advanced_search .advan-3 select,
#container #advanced_search .advan-3 input {
    border: 1px solid silver;
    padding: 0.4% 1%;
}
#container #advanced_search .advan-3 .options-1-value {
    width: 250px;
}
#container #advanced_search .advan-3 .options-2-value{
    padding: 0;
}
#container #advanced_search .advan-3 .options-1-value,
#container #advanced_search .advan-3 .options-2-value,
#container #advanced_search .advan-3 .options-3-value {
    display: block;
    margin:20px 0 0 220px;
}
/*其他信息*/
#container #advanced_search .advan-4 {
    margin-top: 20px;
    /*position: relative;*/
    /*padding-left:9%;*/
    /*border-bottom: 1px solid silver;*/
}
#container #advanced_search .advan-4 .other {
    border: 1px solid silver;
    padding:30px;
    margin-top: 20px;
    border-radius: 10px;
}
#container #advanced_search .advan-4 .tit {
    /*position: absolute;*/
    /*left: 2%;*/
    /*top:50%;*/
    color:#000;
    font-size: 18px;
}
#container #advanced_search .advan-4 input {
    border: 1px solid silver;
    padding: 0.4% 1%;
}
/**/
#container #sure_advan {
    margin: 1% 2% 0 0;
    float: right;
    padding:0.5% 2%;
    color: white;
    border-radius: 5px;
    background-color: #52bbde;
    box-shadow: 1px 1px 1px #d4d4e9;
}
#container #sure_advan:hover {
    background-color: #358bde;
}