/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        height: 820px;
    }
}
/*内容样式*/
body {
    width: 100%;
    min-width: 1349px;
    min-height: 820px;
    background: url("/static/images/similarity.png") no-repeat;
}
#container {
    width: 80%;
    padding: 2% 5%;
    margin: 9% auto 0;
}
#container .search {
    width: 80%;
    margin: 7% auto 2%;
    padding: 1% 2%;
    text-align: center;
    background-color: #f1f1ff;
    border: 1px solid #d2d2d2;
    box-shadow: 1px 1px 1px #a2a2a2;
}
#container .search input {
    padding: 0.5% 2%;
    width: 60%;
    background-color: #e3e3f2;
}
#container .search .sure {
    margin-left: 5%;
    padding:0.5% 2%;
    color: white;
    background-color: #52bbde;
    box-shadow: 1px 1px 1px #d4d4e9;
}
#container .search .sure:hover {
    background-color: #358bde;
}