/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 3508px;*/
        margin: 0 auto;
    }
}
/*内容样式*/
body {
    width: 100%;
    margin: 0;
    min-width: 1349px;
    background-color:#e6e9eb;
}
#container {
    width: 80%;
    margin: 60px auto 50px;
    padding: 0 0 30px 20px;
    position: relative;
    background:#f3f4f5;
}
#container .result {
    position: absolute;
    top: 0;
    left: -14px;
    width: 225px;
    height:78px;
    line-height: 70px;
    background: url("/static/images/result_tit.png") no-repeat;
    background-size: 100% 100%;
}
h3 {
    width: 241px;
    height: 49px;
    margin-left: -30px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 100% 100%;
}
h2 {
    width: 330px;
    height: 74px;
    margin-left: -30px;
    line-height: 64px;
    text-align: center;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 100% 100%;
}