
/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 1750px;*/
    }
}
/*内容样式*/
body {
    width: 100%;
    min-width: 1349px;
    /*min-height: 970px;*/
    background: url("/static/images/graph_add.png") no-repeat;
    background-size: 100% 100%;
}
#container {
    position: relative;
    width: 80%;
    padding:90px 50px 50px;
    margin:110px auto 50px;
    background: #f3f4f5;
    box-shadow: 2px 1px 1px #ccced0;
}
#container .two_theme {
    width: 100%;
}
#container .two_theme h2 {
    width: 45%;
    text-align: center;
    padding: 1% 2%;
    display: inline-block;
}
#container .two_theme h2 span {
    padding: 2% 3%;
    background-color: #ededed;
    box-shadow: 2px 2px 2px #7d797c;
    border-radius: 5px;
}
/*包含事件*/
#container .include {
    width:100%;
    margin-top: 50px;
    position: relative;
}
#container .include .edit {
    float: right;
}
#container .include .edit input {
    position: relative;
    top: 3px;
}
#container .include .edit label {
    color: #272727;
    font-size: 14px;
}
#container .include .theme_list {
    width: 100%;
    height: 340px;
    margin-top: 50px;
}
#container .include .theme_list .list-1,#container .include .theme_list .list-2 {
    width: 45%;
    float: left;
    margin-top: 30px;
    margin-left: 35px;
}
/*关联人物*/
#container .link_user {
    width:100%;
    margin-top: 60px;
    position: relative;
}
#container .link_user .edit-user {
    float: right;
}
#container .link_user .edit-user input {
    position: relative;
    top: 3px;
}
#container .link_user .edit-user label {
    color: #272727;
    font-size: 14px;
}
#container .link_user .user_list {
    width: 100%;
    height: 340px;
    margin-top: 50px;
}
#container .link_user .user_list .list-1-user,#container .link_user .user_list .list-2-user {
    width: 45%;
    float: left;
    margin-top: 30px;
    margin-left: 35px;
}
/*自动标签*/
#container .key_words {
    width:100%;
    margin-top:50px;
    position: relative;
}
#container .key_words .edit-words {
    float: right;
}
#container .key_words .edit-words input {
    position: relative;
    top: 3px;
}
#container .key_words .edit-words label {
    color: #272727;
    font-size: 14px;
}
#container .key_words .words_list {
    width: 100%;
    height: 340px;
    margin-top: 50px;
}
#container .key_words .words_list .list-1-words,#container .key_words .words_list .list-2-words {
    width: 45%;
    float: left;
    margin-top: 30px;
    margin-left: 35px;
}
#container .key_words .words_list .list-1-words #list-1-words,
#container .key_words .words_list .list-2-words #list-2-words{
    width: 100%;
    height: 300px;
}
/*标签*/
#container .tags {
    width:100%;
    margin-top:6%;
    position: relative;
}
#container .tags .edit-tags {
    float: right;
}
#container .tags .edit-tags input {
    position: relative;
    top: 3px;
}
#container .tags .edit-tags label {
    color: #272727;
    font-size: 14px;
}
#container .tags .tags_list {
    width: 100%;
    height: 340px;
    margin-top: 50px;
}
#container .tags .tags_list .list-1-tags,#container .tags .tags_list .list-2-tags {
    width: 45%;
    float: left;
    margin-top: 30px;
    margin-left: 35px;
}
#container .tags .tags_list .list-1-tags #list-1-tags,
#container .tags .tags_list .list-2-tags #list-2-tags{
    width: 100%;
    height: 300px;
}
/**/
h3 {
    width: 240px;
    height: 52px;
    color: #fff;
    font-weight: 900;
    line-height: 52px;
    text-align: center;
    margin: 20px auto;
    background: url("/static/images/tit-2.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 5;
}
p.line {
    width: 100%;
    height: 3px;
    background:#e6e9eb;
    position: relative;
    top: -48px;
    position: relative;
    z-index: 1;
    box-shadow: 2px 1px 1px #c4c4c4;
}
