/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 920px;*/
        /*margin: 0;*/
    }
}
/*内容样式*/
body {
    width: 100%;
    min-width: 1349px;
    height:100%;
    background: url(/static/images/graph_add.png) no-repeat;
    background-size: 100% 100%;
}
#container {
    position: relative;
    width: 70%;
    padding:80px 50px 90px 100px;
    margin: 50px auto 100px;
    background: #f3f4f5;
    box-shadow: 2px 1px 1px #ccced0;
}
#container .tit {
    position: absolute;
    top: 0;
    left: -15px;
    width: 225px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    font-weight:900;
}
#container .new_property b {
    display: inline-block;
    width: 100px;
}
#container .new_property span {
    color: #373737;
    font-size: 14px;
}
#container .new_property input {
    padding: 0.5% 1%;
    border: 1px solid silver;
    margin: 1% 2% 1% 1%;
}
#container .new_property .pro_sure,#container .theme_list .new_build {
    padding: 0.4% 2%;
    color: white;
    margin-left: 2%;
    background-color: #1ab5e2;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #838383;
    cursor: pointer;
}
#container .new_property .pro_sure:hover,#container .theme_list .new_build:hover {
    background-color: #176de2;
}
#container .theme_list #special_topic {
    width: 100%;
}
#container .theme_list .new_build {
    float: right;
    margin:2% 4% 0 0;
}
