/*屏幕大小*/
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 3108px;*/
        margin: 0 auto;
    }
}
/*内容样式*/
body {
    width: 100%;
    margin: 0;
    min-width: 1349px;
    /*min-height: 820px;*/
    background-color:#e6e9eb;
}
#container {
    width: 1170px;
    padding: 40px 0 0 0;
    margin: 20px auto;
}
#container #content_left {
    width: 850px;
    padding: 30px;
    float: left;
    margin:0 0 50px 0;
    background:#f3f4f5;
}
#container #content_left .tit {
    width: 241px;
    height: 49px;
    text-align: center;
    line-height: 44px;
    margin-left: -40px;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 241px 49px;
}
/*基本信息*/
#container #content_left .basic .basic-1 {
    padding: 20px 0 0 50px;
    position: relative;
}
#container #content_left .basic .basic-1 .map_area dl {
    position: absolute;
    width: 79px;
    height: 106px;
    padding: 20px 0 0 6px;
    top: -38px;
    text-align: center;
    cursor: pointer;
    background: url("/static/images/e_p.png") no-repeat;
    background-size:79px 106px;
}
#container #content_left .basic .basic-1 .map_area dd {
    color: white;
    font-size: 10px;
    margin-top: 10px;
}
#container #content_left .basic .basic-1 .map_area dl img {
    width: 30px;
    height: 30px;
}
#container #content_left .basic .basic-2 {
    color: black;
    padding-top: 33px;
}
#container #content_left .basic .basic-2 .information {
    width: 77%;
    height:260px;
    overflow: hidden;
    margin:42px 0 0 55px;
    position: relative;
}
#container #content_left .basic .basic-2 p span {
    color: #676767;
    display: inline-block;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*右边栏*/
#container #content_right {
    width: 300px;
    float: left;
    margin-left:20px;
}
#container #content_right .link_user,
#container #content_right .link_event,
#container #content_right .link_agency{
    /*width: 417px;*/
    /*height: 390px;*/
    padding-bottom: 40px;
    background: url("/static/images/xx_relation.png") no-repeat;
    background-size: 100% 100%;
}
#container #content_right .link_user h3,
#container #content_right .link_event h3,
#container #content_right .link_agency h3{
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 42px;
    margin-left: -8px;
    font-weight: 900;
    background: url(/static/images/result_tit.png) no-repeat;
    background-size: 100% 100%;
}
#container #content_right .link_user .users a,
#container #content_right .link_event .events a,
#container #content_right .link_agency .agencys a {
    width: 70%;
    display: block;
    margin: 10px 0 0 15px;
    color:#676767;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#container #content_right .link_user .user_more,
#container #content_right .link_event .event_more,
#container #content_right .link_agency .agency_more {
    cursor: pointer;
    padding: 2px;
    margin-right:10px;
    color: #676767;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #9fe7f5;
    font-size: 18px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.5833333333333334);
    float: right;
}
#container #content_right .link_user .user_more:hover,
#container #content_right .link_event .event_more:hover,
#container #content_right .link_agency .agency_more:hover{
    background-color: #bcbcbc;
    color: white;
}
#link #link_content a {
    display: inline-block;
    width: 90px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin: 15px 0;
}

