{% extends "public_nav.html" %}
{% block title %}<title>知识图谱-我的图谱-我的专题</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/theme_main.css">
<link rel="stylesheet" href="/static/css/a-btn.css">
<style>
body,tr,th,div,span{
	font-family: Microsoft Yahei !important;
}
.table>thead{
	background-color:#1E90FF;
	color: white;
	font-size:14px;
}
</style>

{% endblock %}


{% block main %}
<div id="container">
    <h3 class="add" style="color: black;font-weight:900;">我的专题</h3>
    <div class="group_operating">
    <div id="table-user-contain">
		<table id="sysadmin_topic_table" class="table table-striped">
		</table>
	</div>
    </div> 
</div>
{% endblock %}


{% block my_js %}

<script src="/static/js/sysadmin_mytopic.js"></script>
{% endblock %}
