{% extends "public_nav.html" %}
{% block title %}<title>知识图谱-我的图谱-我的关注</title>{% endblock %}
{% block my_css %}
<style>
@media screen and (min-width: 1366px) {
    body {
        width: 1349px;
        /*height: 3508px;*/
        margin: 0 auto;
    }
}
body,tr,th,div,span{
    font-family: Microsoft Yahei !important;
}
.table>thead{
    background-color:#1E90FF;
    color: white;
    font-size:15px; 
}
.table_block{
    background-color:white;
    padding: 40px 20px 50px 20px;
}
body {
    /*width: 100%;*/
    /*min-width: 1349px;*/
    /*min-height: 3508px;*/
    /*background: url("/static/images/search_result.png") no-repeat;*/
    width: 100%;
    margin: 0;
    min-width: 1349px;
    /*min-height: 820px;*/
    background-color:#e6e9eb;
}
#container {
    width: 80%;
    margin: 60px auto 0;
    padding: 80px 0 100px 0;
    position: relative;
    background:#f3f4f5;
}
#container .result {
    position: absolute;
    top: 0;
    left: -14px;
    width: 225px;
    height:78px;
    line-height: 70px;
    background: url("/static/images/result_tit.png") no-repeat;
    background-size: 100% 100%;
}
h3 {
    width: 241px;
    height: 49px;
    line-height: 49px;
    padding: 0 0 0 60px;
    color: white;
    font-weight: 900;
    background: url("/static/images/small_tit.png") no-repeat;
    background-size: 241px 49px;
}
.block {
    margin-top:80px; 
}
.add {
    position: absolute;
    top: 0;
    left: -15px;
    width: 225px;
    height:78px;
    text-align: center;
    line-height: 74px;
    font-size: 32px;
    background: url("/static/images/result_tit.png") no-repeat;
    background-size: 100% 100%;
}
</style>
<script type="text/javascript"></script>
{% endblock %}


{% block main %}
<div id="container">
    <h1 class="add" class="result" style="color: white;font-weight: 900;padding-left:38px;margin-bottom: 80px;">我的关注</h1>
    <div class="related_person block">
        <h3>关注人物</h3>
        <div class="person table_block" style="width: 80%;margin: 0 auto;">
            <table id="person_table"></table>
        </div>
    </div>

    <div class="related_agencies block">
        <h3>关注机构</h3>
        <div class="agencies table_block" style="width: 80%;margin: 0 auto;">
            <table id="agencies_table"></table>
        </div>
    </div>

    <div class="related_events block">
        <h3>关注事件</h3>
        <div class="events_table table_block" style="width: 80%;margin: 0 auto;">
            <table id="events_table"></table>
        </div>
    </div>

</div>
{% endblock %}


{% block my_js %}
<script src='/static/js/sysadmin_myfocus.js'></script>
<script>

</script>
{% endblock %}
