{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 图谱编辑</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/graph_modify.css">
<style>
    .bootstrap-table {
        margin-top: 60px;
    }
    .table>thead:first-child>tr:first-child>th {
        width: 10%;
    }
    .fixed-table-container thead th .sortable {
        padding-right: 10px;
    }
    .item{
        padding:3px 5px;
        cursor:pointer;
    }
    .addbg{
        background: rgba(144, 144, 144, 0.62);
    }
    .append-1,.append-2 {
        border:1px solid #ccced0;
        border-top:0;
        display: none;
        position: absolute;
        top: 27px;
        left: 3px;
        width: 164px;
        padding: 5px;
        z-index: 20;
        background-color: rgb(243, 244, 245);
    }
</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="container">
    <h1 class="graph_modify" style="color: white;font-weight: 900;">图谱编辑</h1>
    <div class="edit">
        <label class="radio-inline">
            <input type="radio" name="complie" id="node" value="1" checked> 节点编辑
        </label>
        &nbsp;&nbsp;
        <label class="radio-inline">
            <input type="radio" name="complie" id="relation" value="2"> 关系编辑
        </label>
    </div>
    <div class="node">
        <div class="attributes" style="margin-top: 3%">

            <span>节点类型</span>
            <select id="node_type" onchange="type_node(this.value)">
                <option value="User">人物</option>
                <option value="Org">机构</option>
                <option value="Event">事件</option>
            </select>
            <span>节点名称</span><input type="text" class="node_name">
            <div style="display: inline">
                <!--<span>入库日期</span><input type="text" class="warehousing">-->
                <button class="submit">确 定</button>
            </div>
        </div>
        <div class="node_list">
            <div id="node_list" ></div>
        </div>
        <div class="event_list">
            <div id="event_list"></div>
        </div>

    </div>


    <!--关系编辑-->
    <div class="rel" style="display: none;">
        <div class="rel_attributes">
            <div class="one">
                <span>节点一</span>
                <select class="one-type" onchange="one_type(this.value)">
                    <!--<option value="" disabled selected>请选择节点类型</option>-->
                    <option value="User">人物</option>
                    <option value="Org">机构</option>
                    <option value="Event">事件</option>
                </select>
                <div style="position: relative;top:-2px;display: inline-block;">
                    <input type="text" class="manone" placeholder="请您先选择节点类型"
                           onKeyup='getContent(this);' onfocus="class_name(this)" style="padding:2px 8px;"/>
                    <div class='append-1'></div>
                </div>
            </div>
            <div class="two">
                <span>节点二</span>
                <select class="two-type" onchange="two_type(this.value)">
                    <option value="User">人物</option>
                    <option value="Org">机构</option>
                    <option value="Event">事件</option>
                </select>
                <div style="position: relative;top:-2px;display: inline-block;">
                    <input type="text" class="mantwo" placeholder="请您先选择节点类型"
                           onKeyup='getContent(this);' onfocus="class_name(this)" style="padding:2px 8px;"/>
                    <div class='append-2'></div>
                </div>
            </div>
        </div>
        <div>
            <!--<span>入库日期</span><input type="text" class="warehousing">-->
            <button class="rel_submit">确 定</button>
        </div>
        <div id="rel_list" style="width: 100%"></div>
    </div>

</div>
<!--编辑 人物机构-->
<style>
    #complie span{
        display: inline-block;
        margin: 0 20px;
        color: #676767;
        font-size: 14px;
        font-weight: 600;
    }
    #complie .content .cont {
        display: inline-block;
        margin: 20px 0;
    }
    #complie input[type=checkbox] {
        margin: 5px 7px 0;
        position: relative;
        top: 2px;
    }
</style>

<div class="modal fade" id="complie" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑</h4>
            </div>
            <div class="modal-body content">
                <h3 class="name" style="margin-bottom: 30px;"></h3>
                <div>
                    <span>话题</span>
                    <div id="topic" class="cont">
                        <input type="checkbox" name="rels" value="科技类">科技类
                        <input type="checkbox" name="rels" value="经济类">经济类
                        <input type="checkbox" name="rels" value="教育类">教育类
                        <input type="checkbox" name="rels" value="军事类">军事类
                        <input type="checkbox" name="rels" value="民生类_健康">民生类_健康
                        <input type="checkbox" name="rels" value="民生类_住房">民生类_住房
                        <input type="checkbox" name="rels" value="民生类_环保">民生类_环保
                        <input type="checkbox" name="rels" value="民生类_就业">民生类_就业
                        <input type="checkbox" name="rels" value="民生类_社会保障">民生类_社会保障
                        <input type="checkbox" name="rels" value="民生类_交通">民生类_交通
                        <input type="checkbox" name="rels" value="民生类_法律">民生类_法律
                        <input type="checkbox" name="rels" value="政治类_外交">政治类_外交
                        <input type="checkbox" name="rels" value="政治类_暴恐">政治类_暴恐
                        <input type="checkbox" name="rels" value="政治类_地区和平">政治类_地区和平
                        <input type="checkbox" name="rels" value="政治类_反腐">政治类_反腐
                        <input type="checkbox" name="rels" value="政治类_宗教">政治类_宗教
                        <input type="checkbox" name="rels" value="文体类_娱乐">文体类_娱乐
                        <input type="checkbox" name="rels" value="文体类_体育">文体类_体育
                        <input type="checkbox" name="rels" value="其他类">其他类
                    </div>
                </div>
                <div>
                    <span>身份</span>
                    <div id="ID" class="cont" style="width: 65%;">
                        <select id="ID-1" style="border: 1px solid #7b7b7b;padding: 3px 2px;">
                            <option value="" disabled selected>请选择事件类型</option>
                            <option value="高校">高校</option>
                            <option value="境内机构">境内机构</option>
                            <option value="境外机构">境外机构</option>
                            <option value="媒体">媒体</option>
                            <option value="境外媒体">境外媒体</option>
                            <option value="民间组织">民间组织</option>
                            <option value="法律机构及人士">法律机构及人士</option>
                            <option value="政府机构及人士">政府机构及人士</option>
                            <option value="媒体人士">媒体人士</option>
                            <option value="活跃人士">活跃人士</option>
                            <option value="草根">草根</option>
                            <option value="其他">其他</option>
                            <option value="商业人士">商业人士</option>
                        </select>
                    </div>
                </div>
                <div>
                    <span>所属群体</span>
                    <div id="group" class="cont"></div>
                    <div class="group-1" style="display: none;padding-left: 100px;">
                        <input type="text" value="" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <button type="button" class="btn btn-default btn-xs group-2" style="display: inline-block">确定</button>
                    </div>
                </div>
                <div>
                    <span>业务标签</span>
                    <div id="tags" class="cont"></div>
                    <div class="tags-1" style="display: none;padding-left: 100px;">
                        <input type="text" value="" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <button type="button" class="btn btn-default btn-xs tags-2" style="display: inline-block">确定</button>
                    </div>
                </div>
                <div>
                    <span>关联文档</span>
                    <div id="words" class="cont"></div>
                    <div class="words-1" style="display:none;">
                        <span>标题</span>
                        <input type="text" value="" class="tit" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <span>链接</span>
                        <input type="text" value="" class="url" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <button type="button" class="btn btn-default btn-xs words-2" style="display: inline-block">确定</button>
                    </div>
                </div>
                <div>
                    <span style="position: relative;top: -85px;">业务描述</span>
                    <div id="business" class="cont" style="margin-left: 20px;">
                        <textarea id="business-1" cols="30" rows="5" style="border: 1px solid #9c9c9c;">

                        </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pass()">确定</button>
            </div>
        </div>
    </div>
</div>

<!--编辑 事件-->
<style>
    #event_complie span{
        display: inline-block;
        margin: 0 20px;
        color: #676767;
        font-size: 14px;
        font-weight: 600;
        width: 100px;
    }
    #event_complie .event_content .cont {
        display: inline-block;
        margin: 20px 0;
    }
    #event_complie input[type=date] {
        border: 1px solid #373737;
        padding: 2px 5px;
    }
</style>
<div class="modal fade" id="event_complie" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal">事件编辑</h4>
            </div>
            <div class="modal-body event_content">
                <h3 class="name" style="margin-bottom: 30px;"></h3>
                <div>
                    <span>实际发生地：</span>
                    <input type="text" id="place" style="border: 1px solid slategray;padding: 2px 4px;margin-bottom: 15px;">
                </div>
                <div>
                    <span>实际发生时间：</span>
                    <!--<input type="text" class="time">-->
                    <div class="form-group" style="display: inline-block;width: 200px;margin-bottom: 0;">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control time" style="height: 28px;"/>
                            <b class="input-group-addon">
                                <b class="icon icon-calendar"></b>
                            </b>
                        </div>
                    </div>
                </div>
                <div>
                    <span>事件类型</span>
                    <div id="event_type" class="cont">
                        <select id="event_type-1" style="border: 1px solid #7b7b7b;padding: 3px 2px;">
                            <option value="" disabled selected>请选择事件类型</option>
                            <option value='military'>军事国防</option>
                            <option value='transport'>交通</option>
                            <option value='resources'>国土资源</option>
                            <option value='overseas'>境外敌对势力</option>
                            <option value='disaster'>灾害</option>
                            <option value='public_security'>社会公共安全</option>
                            <option value='rights'>维权上访</option>
                            <option value='information'>信息产业</option>
                            <option value='information_security'>信息安全</option>
                            <option value='industry'>工业</option>
                            <option value='network'>网络安全</option>
                            <option value='chinese_party'>中国共产党党务</option>
                            <option value='national'>国家政务</option>
                            <option value='diplomacy'>外交</option>
                            <option value='political'>政法监察</option>
                            <option value='comprehensive_group'>综合党团</option>
                            <option value='health'>卫生</option>
                            <option value='art_sports'>文化体育</option>
                            <option value='tourism'>旅游服务</option>
                            <option value='human_resources'>人力资源与社会保障</option>
                            <option value='population'>人口计生</option>
                            <option value='agriculture'>农业</option>
                            <option value='housing'>住房与城乡建设</option>
                            <option value='environment'>环境保护</option>
                            <option value='energy'>能源</option>
                            <option value='technology'>科技教育</option>
                            <option value='business'>商业贸易</option>
                            <option value='macro_economy'>宏观经济</option>
                            <option value='financial_work'>财政金融</option>
                        </select>
                    </div>
                </div>
                <div>
                    <span>关注周期</span>
                    <div class="cycle" style="display: inline-block;">
                        <div style="display: inline-block;width: 200px;margin: 20px 0 0 0;">
                            <div class="form-group" style="margin: 0">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control start" style="height: 28px"/>
                                    <b class="input-group-addon">
                                        <b class="icon icon-calendar"></b>
                                    </b>
                                </div>
                            </div>
                        </div>
                        <b style="position: relative;top: -7px;"> - </b>
                        <div style="display: inline-block;width: 200px;">
                            <div class="form-group" style="margin: 0">
                                <div class='input-group date' id='datetimepicker3'>
                                    <input type='text' class="form-control end" style="height: 28px"/>
                                    <b class="input-group-addon">
                                        <b class="icon icon-calendar"></b>
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <span>实际参与人物</span>
                    <div id="person" class="cont counts"></div>
                    <div class="person-1" style="display: none;padding-left: 100px;">
                        <input type="text" value="" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <button type="button" class="btn btn-default btn-xs person-2" style="display: inline-block">确定</button>
                    </div>
                </div>
                <div>
                    <span>实际参与机构</span>
                    <div id="org" class="cont counts"></div>
                    <div class="org-1" style="display: none;padding-left: 100px;">
                        <input type="text" value="" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <button type="button" class="btn btn-default btn-xs org-2" style="display: inline-block">确定</button>
                    </div>
                </div>
                <div>
                    <span>所属专题</span>
                    <div id="special" class="cont counts"></div>
                    <div class="special-1" style="display: none;padding-left: 100px;">
                        <input type="text" value="" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <button type="button" class="btn btn-default btn-xs special-2" style="display: inline-block">确定</button>
                    </div>
                </div>
                <div>
                    <span>业务标签</span>
                    <div id="e_tag" class="cont counts"></div>
                    <div class="e_tag-1" style="display: none;padding-left: 100px;">
                        <input type="text" value="" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <button type="button" class="btn btn-default btn-xs e_tag-2" style="display: inline-block">确定</button>
                    </div>
                </div>
                <div>
                    <span>关联文档</span>
                    <div id="documents" class="cont counts"></div>
                    <div class="documents-1" style="display:none;">
                        <b>标题</b>
                        <input type="text" value="" class="e_tit" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <b>链接</b>
                        <input type="text" value="" class="e_url" style="padding: 2px 5px;border: 1px solid #9c9c9c;"/>
                        <button type="button" class="btn btn-default btn-xs documents-2" style="display: inline-block">确定</button>
                    </div>
                </div>
                <div>
                    <span style="position: relative;top: -85px;">事件描述</span>
                    <div id="e_business" class="cont" style="margin-left: 20px;">
                        <textarea id="e_business-1" cols="30" rows="5" style="border: 1px solid #9c9c9c;">

                        </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pass()">确定</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block my_js %}
<script>
    $('.graph_modify').on('click',function () {
        $('#event_complie').modal('show')
    });
    var submit_user=$('#name').text();
    $.each($("#container .edit input"),function (index,item) {
        $(item).on('click',function () {
            if ($(this).val()==1){
                $('.node').show();
                $('.rel').hide();
            }else {
                $('.node').hide();
                $('.rel').show();
            }
        })
    });
    $(function () {
        $('#datetimepicker1').datetimepicker('format', new Date());
        $('#datetimepicker2').datetimepicker();
        $('#datetimepicker3').datetimepicker();
    });
//    $('.form_datetime').datetimepicker('format', new Date());
//    $('#datetimepicker2').datetimepicker();
//    $('#datetimepicker3').datetimepicker();
//    $("#datetimepicker2").on("dp.change",function (e) {
//        $('#datetimepicker3').data("DateTimePicker").minDate(e.date);
//    });
//    $("#datetimepicker2").on("dp.change",function (e) {
//        $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
//    });


</script>
<script src="/static/js/graph_modify-1.js"></script>
<script src="/static/js/graph_modify-2.js"></script>

{% endblock %}
