<meta charset="UTF-8">
{% block title %}<title>知识图谱 - 地域分布图</title>{% endblock %}
{% block css %}
<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
<style>
    body {
        margin: 0 !important;
        font-family: '微软雅黑';
        position: relative;
    }
    #box {
        width: 100%;
    }
    #legend {
        position: absolute;
        top:35%;
        right: 1%;
        width: 85px;
        min-width: 85px;
        padding: 20px;
        /*background-color: white;*/
        color: black;
        font-size: 14px;
    }
    #legend p {
        display: inline-block;
        margin: 6px 0;
        cursor: pointer;
    }
    #legend p span {
        font-weight: 900;
        display: inline-block;
    }
    #legend p .dot {
        width: 10px;
        height: 10px;
    }
    /*工具栏大小*/

    /*.BMapLib_Drawing_panel {*/
    /*height: 20px;*/
    /*}*/
    /*.BMapLib_Drawing .BMapLib_box {*/
    /*width: 20px;*/
    /*!*background-size: 20px 20px;*!*/
    /*}*/
    #more {
        float: right;
        font-size: 10px;
        color: #72ACE3;
        cursor: pointer;
    }
    .last_pic {
        background: white!important;
        text-align: center;
        line-height: 47px;
    }
    .BMapLib_Drawing .BMap_noprint .anchorTL {
        display: none;
    }
    .ui_city_change_top .ui_city_change_inner {
        width: 100px;
        padding: 5px 10px;
        font-size: 16px;
        text-align: center;
        background-color: rgb(166, 194, 222);
        border-radius: 15px;
    }
    #selCityWd {
        height: 23px;
        line-height: 23px;
    }
</style>
{% endblock %}

{% block main %}
<div id="box"></div>
<div id="legend">
    <p class="gov">
        <span class="dot" style="background-color: #ed2d2d"></span>
        <span class="name">机构</span>
    </p>
    <p class="user">
        <span class="dot" style="background-color: #2b81ff"></span>
        <span class="name">人物</span>
    </p>
    <p class="event">
        <span class="dot" style="background-color: #c86df0"></span>
        <span class="name">事件</span>
    </p>
</div>
{% endblock %}

{% block my_js %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0ECXIPy41grtI3jUXqQMgILaG1vKUiLo"></script>
<!--<script src="/static/js/DrawingManager_min.js"></script>-->
<script>
//    var result={{data_dict|tojson}};
    var result;
    if ('{{flag}}'=='Wrong Type'){
        result=JSON.parse(localStorage.getItem("result_map"));
        setTimeout(function () {
            localStorage.removeItem('result_map');
        },600000);
    }else {
        result={{data_dict|tojson}};
    }
    console.log(result);
    $('#legend p').on('click',function () {
        var colour=$(this).find('.dot').css('backgroundColor');
        $(this).find('.name').css({color:colour});
        $(this).siblings('p').find('.name').css({color:''});
    });
    $('#box').height($(window).height());

    // 百度地图API功能
    var map = new BMap.Map("box");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 5);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    map.addControl(new BMap.CityListControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
//        offset: size,
        // 切换城市之间事件
        // onChangeBefore: function(){
        //    alert('before');
        // },
        // 切换城市之后事件
        // onChangeAfter:function(){
        //   alert('after');
        // }
    }));
    var index = 0;
    var myGeo = new BMap.Geocoder();
    var adds = [];
    for(var key in result){
        if (key== 'event'){
            $.each(result[key],function (index,item) {
                geocodeSearch(item[2],item[1],item[0],'event');
            })
        }else if (key== 'org'){
            $.each(result[key],function (index,item) {
                geocodeSearch(item[2],item[1],item[0],'org');
            })
        }if (key== 'people'){
            $.each(result[key],function (index,item) {
                geocodeSearch(item[2],item[1],item[0],'people');
            })
        }
    }


    // 编写自定义函数,创建标注
    var marker;
    function addMarker(point,label,news,type){
        var title,message;
        if (type=='event'){
            var myIcon = new BMap.Icon("/static/images/map_event.png", new BMap.Size(19,50));
            marker = new BMap.Marker(point,{icon:myIcon});
            title='事件';
            message='<b style="display:none;">'+news+'</b> 事件名称：';
        }else if (type=='people'){
            var myIcon = new BMap.Icon("/static/images/map_user.png", new BMap.Size(19,50));
            marker = new BMap.Marker(point,{icon:myIcon});
            title='人物';
            message='人物id：<b>'+news+'</b><br/> 人物昵称：';
        }else {
            var marker = new BMap.Marker(point);
            title='机构';
            message='机构id：<b>'+news+'</b><br/> 机构名称：';
        }
        map.addOverlay(marker);
        label.setStyle({
            color:"black",                   //颜色
            fontSize:"14px",
            padding:"2px 5px",                  //字号
            border:"2px solid #2196F3",           //边
            cursor:"pointer",
            borderRadius:'10px',
        });
        marker.setLabel(label);
        marker.addEventListener("click", function(){
            var information=(message + (this.zc||this.xc).innerText + '<br/> <a id="more" onclick="jump_card(this)">查看详情>></a>');
            map.openInfoWindow(new BMap.InfoWindow(information,opts),point); //开启信息窗口
        });
        var opts = {
            width : 100,     // 信息窗口宽度
            height: 0,     // 信息窗口高度
            title : title ,    // 信息窗口标题
        };

    };
    function jump_card(_this) {
        var lx=$(_this).parents('.BMap_bubble_content').prev('.BMap_bubble_title')[0].innerText;
        var b_id=$(_this).siblings('b').text();
        if (lx=='人物'){
            window.open('/index/person/?user_id='+b_id);
        }else if(lx=='机构'){
            window.open('/index/organization/?user_id='+b_id);
        }else if(lx=='事件'){
            window.open('/index/event/?user_id='+b_id);
        }
    }



//    //添加框选工具
//    var overlays = [];
//    var overlaycomplete = function(e){
//        overlays.push(e.overlay);
//    };
//    var styleOptions = {
//        strokeColor:"red",    //边线颜色。
//        fillColor:"red",      //填充颜色。当参数为空时，圆形将没有填充效果。
//        strokeWeight: 3,       //边线的宽度，以像素为单位。
//        strokeOpacity: 0.8,	   //边线透明度，取值范围0 - 1。
//        fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。
//        strokeStyle: 'solid' //边线的样式，solid或dashed。
//    };
    //实例化鼠标绘制工具
//    var drawingManager = new BMapLib.DrawingManager(map, {
//        isOpen: false, //是否开启绘制模式
//        enableDrawingTool: true, //是否显示工具栏
//        drawingToolOptions: {
//            anchor: BMAP_ANCHOR_TOP_LEFT, //位置
//            offset: new BMap.Size(5, 5), //偏离值
//            drawingModes: [
//                BMAP_DRAWING_RECTANGLE,
//            ]
//        },
//        drawingType: BMAP_DRAWING_RECTANGLE,
//        circleOptions: styleOptions, //圆的样式
//        polylineOptions: styleOptions, //线的样式
//        polygonOptions: styleOptions, //多边形的样式
//        rectangleOptions: styleOptions //矩形的样式
//    });
    //添加鼠标绘制工具监听事件，用于获取绘制结果
//    drawingManager.addEventListener('overlaycomplete', overlaycomplete);

    //清除覆盖物
//    function clearAll() {
//        for(var i = 0; i < overlays.length; i++){
//            map.removeOverlay(overlays[i]);
//        }
//        overlays.length = 0
//    };
//    $('.BMapLib_Drawing .BMapLib_last').after(
//            '<a class="BMapLib_box last_pic"' +
//            'title="清除" onclick="clearAll()">清除</a>'
//    );
//    //右键清除覆盖物
//    map.addEventListener("rightclick", function(e) {
//        clearAll();
//    });

    //框选结束后的操作

    //    *  ┌─────────────────────┐
    //    *  │0                  1 │
    //    *  │                     │
    //    *  │3                  2 │
    //    *  └─────────────────────┘
    //    四个角的坐标顺序
//    var geoc = new BMap.Geocoder();
//    drawingManager.addEventListener("rectanglecomplete", function(e, overlay) {
//        var sijiao_jing=[overlay.io[0].lng,overlay.io[1].lng,overlay.io[2].lng,overlay.io[3].lng];
//        var sijiao_wei=[overlay.io[0].lat,overlay.io[1].lat,overlay.io[2].lat,overlay.io[3].lat];
//        var max_jing=Math.max.apply(null, sijiao_jing);
//        var min_jing=Math.min.apply(null, sijiao_jing);
//        var max_wei=Math.max.apply(null, sijiao_wei);
//        var min_wei=Math.min.apply(null, sijiao_wei);
//        $.each(zuobiao_nums,function (index,item) {
//            if (min_wei<item.lat&&item.lat<max_wei && min_jing<item.lng&&item.lng<max_jing){
//                geoc.getLocation(item, function(rs){
//                    var addComp = rs.addressComponents;
//                    console.log(addComp.city);
//                });
//            }
//        });
//
//    });

    ///-----------------------------
    var zuobiao_nums=[];
    function bdGEO(){
        var add = adds[index];
        geocodeSearch(add);
        index++;
    };
    bdGEO();
    var dote=[];
    var curve;
    function geocodeSearch(city,add,news,type){
        if(index < adds.length){
            setTimeout(window.bdGEO,400);
        }
        myGeo.getPoint(city, function(point){
            if (point) {
                zuobiao_nums.push(point);
                var address = new BMap.Point(point.lng, point.lat);
                addMarker(address,new BMap.Label(add,{offset:new BMap.Size(20,-10)}),news,type);
                //Draw_arc(point);
            }
        });
    }

    // 画弧线
    var arcline=[];

    function Draw_arc(point) {
        dote.push(new BMap.Point(point.lng, point.lat));
        curve = new BMapLib.CurveLine(dote, {strokeColor:"blue", strokeWeight:3, strokeOpacity:0.5}); //创建弧线对象
        map.addOverlay(curve); //添加到地图中
        arcline.push(curve);
    };
    for (var ls=0;ls<arcline.length;ls++){
        map.removeOverlay(arcline[ls]);
    }
    arcline=[];
    var curve2 = new BMapLib.CurveLine(dote, {strokeColor:'red', strokeWeight:3, strokeOpacity:0.5}); //创建弧线对象
    map.addOverlay(curve2); //添加到地图中
    arcline.push(curve2);

//    window.setInterval(arc,3000);
//    function arc() {
//        window.clearInterval();
//
//    }


</script>
{% endblock %}
