{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 卡片详情页</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/card_display.css">
<style>
    .radio-inline {
        font-weight: 900;
    }
</style>
{% endblock %}


{% block main %}
<div id="all_cards">
    <!--<div class="left"> < </div>-->
    <div class="cards_content">
        <div id="cards_rank" class="choose" style="padding: 5px 0 5px 100px;">
            <!--<label class="radio-inline">
                <input type="radio" name="options" id="important" value="" checked> 重要度
            </label>
            <label class="radio-inline">
                <input type="radio" name="options" id="activity" value=""> 活跃度
            </label>
            <label class="radio-inline">
                <input type="radio" name="options" id="sensitivity" value=""> 敏感度
            </label>-->
        </div>
        <div id="card_set">

        </div>
    </div>
    <!--<div class="right"> > </div>-->
</div>

{% endblock %}

{% block my_js %}

<script>

    var result={{result|tojson}};
    var flag={{flag|tojson}};

</script>
<script src="/static/js/card_display-1.js"></script>
{% endblock %}
