{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 事件详情页</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/event.css">
<style>

</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="event_content">
    <div id="content_left">
        <div class="basic">
            <h3 class="basic-1" style="width: 140px;height: 280px;line-height: 280px;
            color: white;font-size: 22px;font-weight: 900;display: inline-block">基本信息</h3>
            <div class="basic-2">
                <div class="basic-2-name">
                    <h3 class="event_name">徐玉玉事件</h3>
                    <span class="edit" style="display: inline-block">编&nbsp;&nbsp;辑</span>
                </div>

            </div>
        </div>
    </div>
    <div id="content_right">

    </div>
</div>

{% endblock %}

{% block my_js %}
<script src="/static/js/event-1.js"></script>
<script>


</script>
{% endblock %}
