{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 事件详情页</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/event.css">
<style>
    .bootstrap-table {
        width:60%;
        margin: 0 auto;
    }
    .table>thead:first-child>tr:first-child>th {
        width:1%;
    }
    .fixed-table-pagination .pagination-detail {
        display: none;
    }
</style>
{% endblock %}

<!-------主要内容------->
{% block main %}
<div id="event_content">
    <div id="content_left">
        <div class="basic" style="padding-bottom:20px">
            <div class="basic-1">
                <h2 class="event_name" style="font-weight:900;display:inline-block;"></h2>
                <img src="/static/images/gov_circle.png" id="focus">
                <button class="edit">编&nbsp;辑</button>
                <div class="map_area">
                    <dl id="map" style="right:11.3%;">
                        <dt><img src="/static/images/earth.png"></dt>
                        <dd>地图链接</dd>
                    </dl>
                    <dl id="chart" style="right:0.21%;">
                        <dt><img src="/static/images/go_line.png" alt=""></dt>
                        <dd>图谱链接</dd>
                    </dl>
                </div>
            </div>
            <div class="basic-2">
                <h3>基本信息</h3>
                <div class="information">
                    <p class="in_one">
                        <span>实际发生地</span><span class="area crude"></span>
                        <span>事件发生时间</span><span class="happen_time crude"></span>
                    </p>
                    <p class="in_two">
                        <span>事件类型</span><span class="type crude"></span>
                        <span>实际参与人物</span><span class="join_user crude"></span>
                    </p>
                    <p class="in_three">
                        <span>自动标签</span><span class="auto_tag crude"></span>
                        <span>实际参与机构</span><span class="agency crude"></span>
                    </p>
                    <p class="in_four">
                        <span>业务标签</span><span class="bus_tag crude"></span>
                        <span>微博数量</span><span class="weibo crude"></span>
                    </p>
                    <p class="in_five">
                        <span>参与讨论人数</span><span class="discuss crude"></span>
                        <span>关注周期</span><!--
                        --><span class="timefrom crude" style="width: 80px"></span>
                        <span class="timeto" style="width:auto;color: black;font-weight:800"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="online">
            <div class="online-1">
                <h3>网上讨论信息</h3>
                <div class="hot">
                    <div id="hot_trend"></div>
                </div>
                <div class="place" style="display: none;">
                    <div id="place_trend"></div>
                </div>
                <div class="topic">
                    <h2 style="text-align: center;margin: 20px 0;">话题</h2>
                    <div id="topic_trend"></div>
                </div>
                <div class="mood">
                    <div id="mood_trend"></div>
                </div>
                <div class="user">
                    <h2 style="text-align: center;margin: 20px 0;">参与讨论的重要人物</h2>
                    <div id="collection" style=""></div>
                </div>
            </div>
        </div>

        <div class="text_info" style="padding-top:12px">
            <h3>文本信息</h3>
            <div class="button_list">
                <button id="all" style="background-color:#8bc34a;">所有微博文本</button>
                <button id="media">媒体微博文本</button>
                <button id="internet_users">网名微博文本</button>
            </div>
            <div class="info_content">
                <div id="group_emotion_loading" style="display:block;text-align:center;">正在加载，请稍后...</div>
                <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:auto;">
                    <table id="input-table" class="In-table" style="display: block;">
                        <tbody class="In-table" style='width:100%!important;'>
                        </tbody>
                    </table>
                </div>
                <div class='fanye' style="width:100%;text-align:center;">
                    <span style="display:none;">
                        每页显示
                        <input type="text" id="PageNo" size="5" value="5"
                                   style='text-align:center;border:1px solid #ccc;'/>组
                    </span>
                    <div id="div-button" style="display:inline-block;margin-left:5px;">
                        <input type="button" value="首页" id="F-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="上一页" id="Pre-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="下一页" id="Nex-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="尾页" id="L-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                    </div>
                    <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
                    <span style="display:inline-block;">总共<span id="s1"></span>页</span>

                </div>
            </div>
        </div>
    </div>
    <div id="content_right">
        <div class="link_user">
            <h3>关联人物</h3>
            <div class="users" style="text-align: center;margin: 20px 0;">

            </div>
            <button class="user_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_event" style="margin: 10px 0;">
            <h3>关联事件</h3>
            <div class="events" style="text-align: center;margin:20px 0;">

            </div>
            <button class="event_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_agency" style="margin: 10px 0;">
            <h3>关联机构</h3>
            <div class="agencys" style="text-align: center;margin:20px 0;">

            </div>
            <button class="agency_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_knowledge" style="margin: 10px 0;">
            <h3>关联知识</h3>
            <div class="knowledge" style="text-align: center;margin:20px 0;">

            </div>
            <button class="knowledge_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_resources" style="margin: 10px 0;">
            <h3>关联资源</h3>
            <div class="resources" style="text-align: center;margin:20px 0;">

            </div>
            <button class="resources_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
    </div>
</div>

<div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title tit_h4" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="link_content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    var s=1;
    $('#focus').on('click',function () {
        if (s==1){
            $(this).attr('src','/static/images/gov_xin.png');
            s=2;
        }else {
            $(this).attr('src','/static/images/gov_circle.png');
            s=1;
        }
    });
    var result_1={{result_att|tojson}};
    var result_2={{relation_dict|tojson}};
    var result_3={{text_list|tojson}};
    var user_id=result_1.en_name;
    $('#event_content #content_left .basic .basic-1 .edit').on('click',function () {
        window.open('/construction/graph_modify/?_id='+$('.event_name').text()+'&_type=Event');
    });

    $('#chart').on('click',function () {
        window.open('/index/graph/?user_id='+user_id+'&node_type=event');
    });
    $('#map').on('click',function () {
        window.open('/index/map/?user_id='+user_id+'&node_type=event');
    });

</script>
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/event-1.js"></script>
<script src="/static/js/event-2.js"></script>
<script src="/static/js/event-3.js"></script>
{% endblock %}
