{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 首页</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/knowledge_home.css">
<style>
    .ueg {
        font-size: 0;
    }
    .ueg button {
        background-color: #4192c9;
        color: white;
        padding: 2px 5px;
        border-radius: 3px;
        margin-right: 3px;
        cursor: pointer;
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div id="statistics">
        <div class="statis-1">
            <div class="s1-top"></div>
            <div class="s1-bot">
                <p class="bot-nums"><span>人物节点数量:<b id="user">{{neo_count['people']}}</b>个</span></p>
                <p class="bot-nums"><span>事件节点数量:<b id="event">{{neo_count['event']}}</b>个</span></p>
                <p class="bot-nums"><span>机构节点数量:<b id="agency">{{neo_count['org']}}</b>个</span></p>
                <p class="bot-nums"><span>专题数量:<b id="topic">{{neo_count['special_event']}}</b>个</span></p>
                <p class="bot-nums"><span>群体数量:<b id="group">{{neo_count['group']}}</b>个</span></p>
            </div>
        </div>

        <div class="statis-2" style="height: 350px">
            <div class="s2-left">
                <input id="search_val" type="text" placeholder="搜索.....">
                <button id="refer"></button>
            </div>
            <div class="s2-right">
                <div class="map" style="margin: 8px 0 0 26px;">
                    <dl id="map-1">
                        <dt><img src="/static/images/earth.png"></dt>
                        <dd>地图链接</dd>
                    </dl>
                </div>
                <div class="chart">
                    <dl id="chart-1">
                        <dt><img src="/static/images/go_line.png" alt=""></dt>
                        <dd>图谱链接</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div id="statis-3" style="margin:30px 90px 0 0;"></div>
    </div>
    <div id="my_hot">
        <div class="hot_event" style="margin-left: 80px">
            <h3>
                <p style="width: 10px;height: 20px;background-color: #df504c;display: inline-block;"></p>
                <span style="font-size: 22px;color:#a9f0ff;font-weight: 900">热点事件</span>
            </h3>
            <div class="event_details" style="padding-top: 12px">
                {% if weibo_list %}
                {% for weibo in weibo_list %}
                <div class="event_caption">
                    <span class="event_name" title="{{weibo['uid']}}">{{weibo['uname']}}</span>
                    <span class="event_time" style="float:right;margin-right: 30px">{{weibo['time']}}</span>
                    <p class="event_text" title = "{{weibo['mid']}}">
                        {{weibo['text'].decode('utf-8')}}
                    </p>
                </div>
                {% endfor %}
                {% else %}
                <div class="event_caption">
                    <span class="event_name" title="No Data">暂无数据</span>
                </div>
                {% endif %}
                <button class="event_more" style="margin-top: 6px">+查看更多</button>
            </div>
        </div>

        <div class="hot_user" style="padding-top: 5px">
            <h3>
                <p style="width: 10px;height: 20px;background-color: #df504c;display: inline-block;"></p>
                <span style="font-size: 22px;color:#a9f0ff;font-weight: 900">热点人物</span>
            </h3>
            <div class="user_details" style="margin-top: 12px">
                <div class="details-1" style="text-align: center;color: white">
                    <span>昵称</span>
                    <span>粉丝</span>
                    <span>微博</span>
                    <span>影响力</span>
                </div>
                {% if people_list %}
                {% for people in people_list %}
                <div class="details-2">
                    <span>{{people['uname']}}</span>
                    <span>{{people['fansnum']}}</span>
                    <span>{{people['statusnum']}}</span>
                    <span>{{people['influence']}}</span>
                </div>
                {% endfor %}
                {% else %}
                <div class="details-2">
                    <span>暂无数据</span>
                    <span>暂无数据</span>
                    <span>暂无数据</span>
                    <span>暂无数据</span>
                </div>
                {% endif %}
                <button class="user_more">+查看更多</button>
            </div>
        </div>

        <div class="my_focus">
            <h3>
                <p style="width: 10px;height: 20px;background-color: #62c14d;display: inline-block;"></p>
                <span style="font-size: 22px;color:#a9f0ff;font-weight: 900">我的关注</span>
                <div class="btn-group btn-group-xs ueg" role="group" style="float: right;margin-right: 20px">
                    <button type="button" class="btn btn-default" id='focus_people'>人物</button>
                    <button type="button" class="btn btn-default" id='focus_event'>事件</button>
                    <button type="button" class="btn btn-default" id='focus_org'>机构</button>
                </div>
            </h3>
            <div class="focus_details" id="my_focus">
                <div class="details-1" style="text-align: center;margin-top: 17px">
                    <span>名称</span>
                    <span>业务标签</span>
                    <span>关注时间</span>
                    <span>查看详情</span>
                </div>
                {% if peo_infors %}
                {% for peo in peo_infors %}
                <div class="details-2">
                    <span>{{peo['name']}}</span>
                    <span>{{peo['label']}}</span>
                    <span>{{peo['time']}}</span>
                    <a style="font-size: 8px;color: white;" href="/index/person/?user_id={{peo['uid']}}" target="_blank">查看详情</a>
                </div>
                {% endfor %}
                {% else %}
                <div class="details-2">
                    <span>暂无数据</span>
                    <span>暂无数据</span>
                    <span>暂无数据</span>
                    <span>暂无数据</span>
                </div>
                {% endif %}
                <button class="focus_more">+查看更多</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="/static/js/knowledgeHome-1.js"></script>
<script src="/static/js/index_click.js"></script>
<script>
    $('.username b').css({color:'white'});
    $('.ueg button').on('click',function () {
        $(this).css({backgroundColor:'#202a30',color:'white'});
        $(this).siblings('button').css({backgroundColor:'#4192c9',color:'white'});
    });
    $('.map').on('click',function () {
        window.open('/index/map/?user_id=ALL&node_type=ALL');
    });
    $('.chart').on('click',function () {
        window.open('/index/graph/?user_id=ALL&node_type=ALL');
    });
    $('.event_more').on('click',function () {
        window.open('/brust/');
    });
    $('.user_more').on('click',function () {
        window.open('/construction/graph_add/');
    });
    $('.focus_more').on('click',function () {
        window.open('/sysadmin/focus/');
    });

</script>
{% endblock %}
