{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 首页</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/knowledge_home.css">
<style>
    .ueg {
        font-size: 0;
    }
    .ueg button {
        background-color: #4192c9;
        color: white;
        padding: 2px 5px;
        border-radius: 3px;
        margin-right: 3px;
        cursor: pointer;
    }
</style>
{% endblock %}
{% block main %}
<div id="container">
    <div id="statistics">
        <div class="statis-1">
            <div class="s1-top"></div>
            <div class="s1-bot">
                <p class="bot-nums"><span>人物节点数量:<b id="user">2455</b>个</span></p>
                <p class="bot-nums"><span>事件节点数量:<b id="event">1334</b>个</span></p>
                <p class="bot-nums"><span>机构节点数量:<b id="agency">4352</b>个</span></p>
                <p class="bot-nums"><span>专题数量:<b id="topic">1212</b>个</span></p>
                <p class="bot-nums"><span>群体数量:<b id="group">1234</b>个</span></p>
            </div>
        </div>

        <div class="statis-2" style="height: 350px">
            <div class="s2-left">
                <input id="search_val" type="text" placeholder="搜索.....">
                <button id="refer"></button>
            </div>
            <div class="s2-right">
                <div class="map" style="margin: 8px 0 0 26px;">
                    <dl id="map-1">
                        <dt><img src="/static/images/earth.png"></dt>
                        <dd>地图链接</dd>
                    </dl>
                </div>
                <div class="chart">
                    <dl id="chart-1">
                        <dt><img src="/static/images/go_line.png" alt=""></dt>
                        <dd>图谱链接</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div id="statis-3" style="margin:30px 90px 0 0;"></div>
    </div>
    <div id="my_hot">
        <div class="hot_event" style="margin-left: 80px">
            <h3>
                <p style="width: 10px;height: 20px;background-color: #df504c;display: inline-block;"></p>
                <span style="font-size: 22px;color:#a9f0ff;font-weight: 900">热点事件</span>
            </h3>
            <div class="event_details" style="padding-top: 12px">
                <div class="event_caption">
                    <span class="event_name" title="飞翔的大鹅">飞翔的大鹅</span>
                    <span class="event_time" style="float:right;margin-right: 50px">2016-9-22</span>
                    <p class="event_text">
                        蚂蚁和大象结婚不久，大象就死了。蚂蚁一边埋大象，一边痛哭：“亲爱的，你怎么这么早去了，
                        我这辈子不干别的，就埋你了！”
                    </p>
                </div>
                <div class="event_caption">
                    <span class="event_name" title="飞翔的大鹅">飞翔的大鹅</span>
                    <span class="event_time" style="float:right;margin-right: 50px">2016-9-22</span>
                    <p class="event_text">
                        蚂蚁和大象结婚不久，大象就死了。蚂蚁一边埋大象，一边痛哭：“亲爱的，你怎么这么早去了，
                        我这辈子不干别的，就埋你了！”
                    </p>
                </div>
                <button class="event_more" style="margin-top: 6px">+查看更多</button>
            </div>
        </div>

        <div class="hot_user" style="padding-top: 5px">
            <h3>
                <p style="width: 10px;height: 20px;background-color: #df504c;display: inline-block;"></p>
                <span style="font-size: 22px;color:#a9f0ff;font-weight: 900">热点人物</span>
            </h3>
            <div class="user_details" style="margin-top: 12px">
                <div class="details-1" style="text-align: center;color: white">
                    <span>昵称</span>
                    <span>粉丝</span>
                    <span>微博</span>
                    <span>影响力</span>
                </div>
                <div class="details-2">
                    <span>马云</span>
                    <span>1232</span>
                    <span>20161</span>
                    <span>3412</span>
                </div>
                <div class="details-2">
                    <span>马云</span>
                    <span>1232</span>
                    <span>20161</span>
                    <span>3412</span>
                </div>
                <div class="details-2">
                    <span>马云</span>
                    <span>1232</span>
                    <span>20161</span>
                    <span>3412</span>
                </div>
                <button class="user_more">+查看更多</button>
            </div>
        </div>

        <div class="my_focus">
            <h3>
                <p style="width: 10px;height: 20px;background-color: #62c14d;display: inline-block;"></p>
                <span style="font-size: 22px;color:#a9f0ff;font-weight: 900">我的关注</span>
                <div class="btn-group btn-group-xs ueg" role="group" style="float: right;margin-right: 20px">
                    <button type="button" class="btn btn-default">人物</button>
                    <button type="button" class="btn btn-default">事件</button>
                    <button type="button" class="btn btn-default">机构</button>
                </div>
            </h3>
            <div class="focus_details">
                <div class="details-1" style="text-align: center;margin-top: 17px">
                    <span>人物</span>
                    <span>业务标签</span>
                    <span>关注时间</span>
                    <span>查看详情</span>
                </div>
                <div class="details-2">
                    <span>马云</span>
                    <span>标签1、标签2</span>
                    <span>2016-11-11</span>
                    <span>查看详情</span>
                </div>
                <div class="details-2">
                    <span>马云</span>
                    <span>标签1、标签2</span>
                    <span>2016-11-11</span>
                    <span>查看详情</span>
                </div>
                <div class="details-2">
                    <span>马云</span>
                    <span>标签1、标签2</span>
                    <span>2016-11-11</span>
                    <span>查看详情</span>
                </div>
                <button class="focus_more">+查看更多</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="/static/js/knowledgeHome-1.js"></script>
<script>
    $('.ueg button').on('click',function () {
        $(this).css({backgroundColor:'#202a30',color:'white'});
        $(this).siblings('button').css({backgroundColor:'#4192c9',color:'white'});
    });
    $('.map').on('click',function () {
        window.open('/index/map/');
    });
    $('.chart').on('click',function () {
        window.open('/index/graph/');
    });
</script>
{% endblock %}
