{% block title %}<title>知识图谱 - 图谱关系图</title>{% endblock %}
{% block css %}
<style>

</style>
{% endblock %}
{% block main %}
<div id="graph_picture" style="width:1000px;height:800px;margin: 30px auto;"></div>
{% endblock %}

{% block my_js %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>

<script type="text/javascript">

    var user_list=[],event_list=[],org_list=[],topic_list=[],group_list=[],link=[],
            legend=['人物','机构','事件','专题','群体','维基'],
            categories=[
                {
                    name: '人物'
                },
                {
                    name: '机构',
                },
                {
                    name:'事件'
                },
                {
                    name:'专题'
                },
                {
                    name:'群体'
                },
                {
                    name:'维基'
                }
            ];
    var relation={{relation|tojson}};
    console.log(relation)
    $.each(relation,function (index,item) {
//        categories.push({name:item[6]});
//        legend.push(item[6]);
        //--------------------
        if (item[2]=='people'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            }
            user_list.push({category:0,name:name,label:name,_id:item[0]});
        }else if (item[2]=='org'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            }
            org_list.push({category:1,name:name,label:name,_id:item[0]})
        }else if (item[2]=='event'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            }
            event_list.push({category:2,name:name,label:name,_id:item[0]})
        }else if (item[2]=='topic'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            };
            topic_list.push({category:3,name:name,label:name,_id:item[0]})
        }else if (item[2]=='group'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            };
            group_list.push({category:4,name:name,label:name,_id:item[0]})
        }else if (item[2]=='wiki'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            };
            group_list.push({category:5,name:name,label:name,_id:item[0]})
        };

        //----------------------

        if (item[5]=='people'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            user_list.push({category:0,name:name,label:name,_id:item[3]})
        }else if (item[5]=='org'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            org_list.push({category:1,name:name,label:name,_id:item[3]});
        }else if (item[5]=='event'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            event_list.push({category:2,name:name,label:name,_id:item[3]})
        }else if (item[5]=='topic'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            topic_list.push({category:3,name:name,label:name,_id:item[3]});
        }else if (item[5]=='group'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            group_list.push({category:4,name:name,label:name,_id:item[3]});
        }else if (item[5]=='wiki'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            group_list.push({category:5,name:name,label:name,_id:item[3]});
        };

        var source,target;
        if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
            source=item[0];
        }else {
            source=item[1];
        };
        if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
            target=item[3];
        }else {
            target=item[4];
        };
        link.push({source:source, target:target});
    });
    var all_node;
    all_node=user_list.concat(org_list).concat(event_list).concat(topic_list).concat(group_list);
    var leg=[];
    for(var i=0;i<legend.length;i++){
        if (leg.indexOf(legend[i])===-1){
            leg.push(legend[i])
        }
    };
    var cate=[];
    for(var i=0;i<categories.length;i++){
        if (cate.indexOf(categories[i])===-1){
            cate.push(categories[i])
        }
    }
    console.log(all_node)
    // 路径配置
    require.config({
        paths: {
            echarts: '/static/js/echarts-2/build/dist',
        }
    });

    // 使用
    require(
            [
                'echarts',
                'echarts/chart/force'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('graph_picture'));
                option = {
                    title : {
                        text: '知识图谱关系图',
                        x:'center',
                        y:'top'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: '{a} : {b}'
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            restore : {show: true},
                            magicType: {show: true, type: ['force', 'chord']},
                            saveAsImage : {show: true}
                        }
                    },
                    legend: {
                        x: 'left',
                        data:legend
                    },
                    series : [
                        {
                            type:'force',
                            name : "节点",
                            roam:'scale',
                            large: true,
                            categories : categories,
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true,
                                        textStyle: {
                                            color: '#333'
                                        }
                                    },
                                    nodeStyle : {
                                        brushType : 'both',
                                        borderColor : 'rgba(255,215,0,0.4)',
                                        borderWidth : 1
                                    },
                                    linkStyle: {
                                        type: 'curve'
                                    }
                                },
                                emphasis: {
                                    label: {
                                        show: false
                                        // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
                                    },
                                    nodeStyle : {
                                        //r: 30
                                    },
                                    linkStyle : {}
                                }
                            },
                            center:['50%','50%'],
                            useWorker: false,
                            minRadius : 15,
                            maxRadius : 25,
                            gravity: 2,
                            scaling:5,
                            symbolSize:20 ,
                            nodes:all_node,
                            links : link
                        }
                    ]
                };

                myChart.setOption(option);
                var ecConfig = require('echarts/config');
                function focus(param) {
                    var data = param.data;
                    var links = option.series[0].links;
                    var nodes = option.series[0].nodes;
                    if (
                            data.source != null
                            && data.target != null
                    ) { //点击的是边
                        var sourceNode = nodes.filter(function (n) {return n.name == data.source})[0];
                        var targetNode = nodes.filter(function (n) {return n.name == data.target})[0];
                        console.log("选中了边 " + sourceNode.name + ' -> ' + targetNode.name + ' (' + data.weight + ')');
                    } else { // 点击的是点
                        console.log("选中了" + data.name + '(' + data.value + ')');
                    }
                }
                myChart.on(ecConfig.EVENT.CLICK, focus);

                myChart.on(ecConfig.EVENT.FORCE_LAYOUT_END, function () {
//                    console.log(myChart.chart.force.getPosition());
                });


            }
    );
</script>
{% endblock %}

