{% block title %}<title>知识图谱 - 图谱关系图</title>{% endblock %}
{% block css %}
<style>
    h2 {
        text-align: center;
        padding: 15px 0;
        color: #979797;
        font-weight: 900;
    }
</style>
{% endblock %}
{% block main %}
<h2>知识图谱关系图</h2>
<div id="graph_picture" style="height:1700px;margin:0 auto;"></div>
{% endblock %}

{% block my_js %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>

<script type="text/javascript">
    var lation={
        "friend" :"交互",
        "relative" :"亲属",
        "leader" :"上下级关系",
        "colleague" :"自述关联",
        "ip_relation" :"IP关联",
        "user_tag":"其他关系",
        "friend" :"交互",
        "colleague" :"业务关联",
        "organization_tag":"其他",
        "contain"  :"主题关联",
        'event_other':"其他关系",
        "join" :" 参与事件",
        "discuss":"参与舆论",
        "other_relationship" :"其他关系",
        "wiki_link":"维基百科"
    };
    $('#graph_picture').width($(window).width()-10);
    var user_list=[],event_list=[],org_list=[],topic_list=[],group_list=[],link=[],
            legend=['人物','机构','事件','专题','群体','维基'],
            categories=[
                {
                    name: '人物'
                },
                {
                    name: '机构',
                },
                {
                    name:'事件'
                },
                {
                    name:'专题'
                },
                {
                    name:'群体'
                },
                {
                    name:'维基'
                }
            ];
    var relation;
    if ('{{flag}}'=='Wrong Type'){
        relation=JSON.parse(localStorage.getItem("graph_force"));
    }else {
        relation={{relation|tojson}};
    }
    console.log(relation)
    $.each(relation,function (index,item) {
//        categories.push({name:item[6]});
//        legend.push(item[6]);
        //--------------------
        if (item[2]=='people'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            }
            user_list.push({category:0,name:name,label:name,_id:item[0],_type:'people'});
        }else if (item[2]=='org'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            }
            org_list.push({category:1,name:name,label:name,_id:item[0],_type:'org'})
        }else if (item[2]=='event'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            }
            event_list.push({category:2,name:name,label:name,_id:item[0],_type:'event'})
        }else if (item[2]=='topic'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            };
            topic_list.push({category:3,name:name,label:name,_id:item[0],_type:'topic'})
        }else if (item[2]=='group'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            };
            group_list.push({category:4,name:name,label:name,_id:item[0],_type:'group'})
        }else if (item[2]=='wiki'){
            var name;
            if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
                name=item[0];
            }else {
                name=item[1];
            };
            group_list.push({category:5,name:name,label:name,_id:item[0],_type:'wiki'})
        };

        //----------------------

        if (item[5]=='people'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            user_list.push({category:0,name:name,label:name,_id:item[3],_type:'people'})
        }else if (item[5]=='org'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            org_list.push({category:1,name:name,label:name,_id:item[3],_type:'org'});
        }else if (item[5]=='event'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            event_list.push({category:2,name:name,label:name,_id:item[3],_type:'event'})
        }else if (item[5]=='topic'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            topic_list.push({category:3,name:name,label:name,_id:item[3],_type:'topic'});
        }else if (item[5]=='group'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            group_list.push({category:4,name:name,label:name,_id:item[3],_type:'group'});
        }else if (item[5]=='wiki'){
            var name;
            if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
                name=item[3];
            }else {
                name=item[4];
            }
            group_list.push({category:5,name:name,label:name,_id:item[3],_type:'wiki'});
        };

        var source,target;
        if (item[1]==''||item[1]=='unknown'||item[1]=='null'){
            source=item[0];
        }else {
            source=item[1];
        };
        if (item[4]==''||item[4]=='unknown'||item[4]=='null'){
            target=item[3];
        }else {
            target=item[4];
        };
        link.push({source:source, target:target,rel:item[6]});
    });
    var all_node;
    all_node=user_list.concat(org_list).concat(event_list).concat(topic_list).concat(group_list);
    var leg=[];
    for(var i=0;i<legend.length;i++){
        if (leg.indexOf(legend[i])===-1){
            leg.push(legend[i])
        }
    };
    var cate=[];
    for(var i=0;i<categories.length;i++){
        if (cate.indexOf(categories[i])===-1){
            cate.push(categories[i])
        }
    }
    // 路径配置
    require.config({
        paths: {
            echarts: '/static/js/echarts-2/build/dist',
        }
    });

    // 使用
    require(
            [
                'echarts',
                'echarts/chart/force'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('graph_picture'));
                option = {
                    title : {
//                        text: '知识图谱关系图',
//                        x:'center',
//                        y:'top'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter:function (v) {
                            console.log(v)
                            if (v['3']==undefined&&v['4']==undefined){
                                return v['0'] + '：' +v['1'];
                            }else {
                                return v['2'].target + ' → ' +v['2'].source + '  关系：'+lation[v['2'].rel];
                            }

                        }
                        //formatter: '{a} : {b}'
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            restore : {show: true},
                            magicType: {show: true, type: ['force', 'chord']},
                            saveAsImage : {show: true}
                        }
                    },
                    legend: {
                        x: '50px',
                        orient: 'horizontal',
                        z: 10,
                        data:legend
                    },
                    series : [
                        {
                            type:'force',
                            name : "节点",
                            roam:'scale',
                            large: true,
                            z:5,
                            categories : categories,
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true,
                                        textStyle: {
                                            color: '#333'
                                        }
                                    },
                                    nodeStyle : {
                                        brushType : 'both',
                                        borderColor : 'rgba(255,215,0,0.4)',
                                        borderWidth : 1
                                    },
                                    linkStyle: {
                                        type: 'curve'
                                    }
                                },
                                emphasis: {
                                    label: {
                                        show: false
                                        // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
                                    },
                                    nodeStyle : {
                                        //r: 30
                                    },
                                    linkStyle : {}
                                }
                            },
                            center:['50%','50%'],
                            useWorker: false,
                            minRadius : 15,
                            maxRadius : 25,
                            gravity: 2,
                            scaling:5,
                            symbolSize:20 ,
                            nodes:all_node,
                            links : link
                        }
                    ]
                };

                myChart.setOption(option);
                var ecConfig = require('echarts/config');
                function focus(param) {
                    var data = param.data;
                    var links = option.series[0].links;
                    var nodes = option.series[0].nodes;
                    if (
                            data.source != null
                            && data.target != null
                    ) { //点击的是边
                        var sourceNode = nodes.filter(function (n) {return n.name == data.source})[0];
                        var targetNode = nodes.filter(function (n) {return n.name == data.target})[0];
                        console.log("选中了边 " + sourceNode.name + ' -> ' + targetNode.name );
                    } else { // 点击的是点
//                        console.log("选中了" + data.name + data._id +data.label + data._type );
                        var n_type=data._type;
                        var n_id=data._id;
                        if (n_type=='people'){
                            window.open('/index/person/?user_id='+n_id);
                        }else if (n_type=='org'){
                            window.open('/index/organization/?user_id='+n_id);
                        }else if (n_type=='event'){
                            window.open('/index/event/?user_id='+n_id);
                        }else if (n_type=='topic'){
                            window.open('/theme/result/?theme_name='+n_id);
                        }else if (n_type=='group'){
                            window.open('/group/result/?group_name='+n_id);
                        }else if (n_type=='wiki'){
                            window.open('/index/construction/?_id='+n_id);
                        };
                    }
                }
                myChart.on(ecConfig.EVENT.CLICK, focus);

                myChart.on(ecConfig.EVENT.FORCE_LAYOUT_END, function () {
                    console.log(myChart.chart.force.getPosition());
                });


            }
    );
</script>
{% endblock %}

