{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 机构详情页</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/organization.css">
<style>
    .org_name {
        font-weight:900;
        display:inline-block;
        max-width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}


{% block main %}
<div id="organization">
    <div id="content_left">
        <div class="basic" style="padding-bottom:1%">
            <div class="basic-1">
                <h1 class="org_name" style="font-weight:900;display:inline-block;"></h1>
                <img src="/static/images/gov_circle.png" alt="" id="focus">
                <button class="edit">编&nbsp;辑</button>
                <div class="map_area">
                    <dl id="map" style="right:11.3%;">
                        <dt><img src="/static/images/earth.png"></dt>
                        <dd>地图链接</dd>
                    </dl>
                    <dl id="chart" style="right:0.21%;">
                        <dt><img src="/static/images/go_line.png" alt=""></dt>
                        <dd>图谱链接</dd>
                    </dl>
                </div>
            </div>
            <div class="basic-2">
                <h3 style="color: white;font-weight:800;">基本信息</h3>
                <div class="information">
                    <p class="in_one">
                        <span><b>微博ID</b></span><span class="ID crude"></span>
                    </p>
                    <p class="in_two">
                        <span><b>机构名称</b></span><span class="org_name crude"></span>
                        <span><b>注册地</b></span><span class="place crude"></span>
                    </p>
                    <p class="in_three">
                        <span><b>机构描述</b></span><span class="description crude"></span>
                    </p>
                    <p class="in_four">
                        <span><b>是否认证</b></span><span class="attest crude"></span>
                        <span><b>认证类型</b></span><span class="attest_type crude"></span>
                    </p>
                    <p class="in_five">
                        <span><b>粉丝数</b></span><span class="fansnum crude"></span>
                        <span><b>关注数</b></span><span class="focus crude"></span>
                    </p>
                    <p class="in_six">
                        <span><b>微博数</b></span><span class="weibonum crude"></span>
                        <span><b>微博链接</b></span>
                        <span class="weibo_link crude" style="width:220px">
                            <a href=""></a>
                        </span>
                    </p>
                    <p class="in_seven">
                        <span><b>业务标签</b></span><span class="tag crude" style="width:420px;"></span>
                    </p>
                    <div class="in_photo">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="influnce" style="margin-top:8px;padding-bottom:25px;">
            <h3>影响力信息</h3>
            <div class="influ-1">
                <h4 class="influ_one">
                    <span>活跃度为</span><b class="active0"></b>
                    <b class="level0"></b>
                </h4>
                <h4 class="influ_two">
                    <span>影响力为</span><b class="active0"></b>
                    <b class="level1"></b>
                </h4>
                <h4 class="influ_three">
                    <span>敏感度为</span><b class="active0"></b>
                    <b class="level2"></b>
                </h4>
            </div>
        </div>
        <div class="activity">
            <h3>活动信息</h3>
            <div class="location">
                <div class="message">
                    <p class="mes_one">
                        <span>活跃位置</span>&nbsp;&nbsp;<span class="position"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p>
                        <span>IP地址</span>&nbsp;&nbsp;<span class="IP"></span>
                    </p>
                    <p class="mes_two">
                        <span>在</span>&nbsp;<span class="time"></span>&nbsp;<span>最为活跃</span>
                    </p>
                </div>
            </div>
            <div id="activity_map" style="width:80%;height:400px;margin:40px auto 0;">

            </div>
        </div>
        <div class="social" style="padding-top:35px;">
            <h3>社交信息</h3>
            <div class="social-1">
                <h4 class="soc_one">
                    <span id="one">转发</span>
                    <span class="user"></span>
                </h4>
                <h4 class="soc_two">
                    <span id="two">被转发</span>
                    <span class="user"></span>
                </h4>
                <h4 class="soc_three">
                    <span id="three">评论</span>
                    <span class="user"></span>
                </h4>
                <h4 class="soc_four">
                    <span id="four">被评论</span>
                    <span class="user"></span>
                </h4>
            </div>
        </div>
        <div class="preference" style="margin-top:18px;">
            <h3>偏好信息</h3>
            <div id="key_words" style="width: 80%;height:250px;line-height: 250px;text-align: center;
            margin:20px auto;background-color:#f3f4f5;"></div>
            <div id="micro_topic" style="width: 80%;height:250px;line-height: 250px;text-align: center;
            margin:0 auto;background-color:#f3f4f5;"></div>
            <div class="talk" style="width: 80%;margin:30px auto 10px;">
                <p>
                    <span>话题</span>
                    <span class="talk_name"></span>
                </p>
            </div>
        </div>
        <div class="text">
            <h3>文本信息</h3>
            <div class="text_information">
                <div id="group_emotion_loading" style="display:block;text-align:center;">正在加载，请稍后...</div>
                <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:auto;">
                    <table id="input-table" class="In-table" style="display: block;">
                        <tbody class="In-table" style='width:100%!important;'>
                        </tbody>
                    </table>
                </div>
                <div class='fanye' style="width:100%;text-align:center;">
                    <span style="display:none;">
                        每页显示
                        <input type="text" id="PageNo" size="5" value="5"
                               style='text-align:center;border:1px solid #ccc;'/>组
                    </span>
                    <div id="div-button" style="display:inline-block;margin-left:5px;">
                        <input type="button" value="首页" id="F-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="上一页" id="Pre-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="下一页" id="Nex-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="尾页" id="L-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                    </div>
                    <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
                    <span style="display:inline-block;">总共<span id="s1"></span>页</span>
                </div>
            </div>
        </div>
    </div>
    <div id="content_right">
        <div class="link_user">
            <h3>关联人物</h3>
            <div class="users" style="text-align: center;margin: 20px 0;">

            </div>
            <button class="user_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_event" style="margin: 10px 0;">
            <h3>关联事件</h3>
            <div class="events" style="text-align: center;margin:20px 0;">

            </div>
            <button class="event_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_agency" style="margin: 10px 0;">
            <h3>关联机构</h3>
            <div class="agencys" style="text-align: center;margin:20px 0;">

            </div>
            <button class="agency_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_knowledge" style="margin: 10px 0;">
            <h3>关联知识</h3>
            <div class="knowledge" style="text-align: center;margin:20px 0;">

            </div>
            <button class="knowledge_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_resources" style="margin: 10px 0;">
            <h3>关联资源</h3>
            <div class="resources" style="text-align: center;margin:20px 0;">

            </div>
            <button class="resources_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
    </div>
</div>

<div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title tit_h4" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="link_content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script>
    var s=1;
    $('#focus').on('click',function () {
        if (s==1){
            $(this).attr('src','/static/images/gov_xin.png');
            s=2;
        }else {
            $(this).attr('src','/static/images/gov_circle.png');
            s=1;
        }
    });
    var result_1={{result_att|tojson}};
    var result_2={{relation_dict|tojson}};
    var result_3={{inter_list|tojson}};
    var result_4={{friends_dict|tojson}};
    var result_5={{text_list|tojson}};

    var user_id=result_1.uid;
    $('#chart').on('click',function () {
        window.open('/index/graph/?user_id='+user_id+'&node_type=org');
    });
    $('#map').on('click',function () {
        window.open('/index/map/?user_id='+user_id+'&node_type=org');
    });
    $('#organization #content_left .basic .basic-1 .edit').on('click',function () {
        window.open('/construction/graph_modify/?_id='+user_id+'&_type=Org');
    });
</script>
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/organization-1.js"></script>
<script src="/static/js/organization-2.js"></script>
<script src="/static/js/organization-3.js"></script>
{% endblock %}
