{% extends "public_nav.html" %}
{% block title %}<title>知识图谱 - 人物详情页</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/person.css">
<style>
    .user_name {
        font-weight:900;
        display:inline-block;
        max-width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}


{% block main %}
<div id="person_content">
    <div id="content_left">
        <div class="basic" style="padding-bottom: 10px;">
            <div class="basic-1">
                <h1 class="user_name"></h1>
                <img src="/static/images/gov_circle.png" alt="" id="focus">
                <button class="edit">编&nbsp;辑</button>
                <div class="map_area">
                    <dl id="map" style="right:11.3%;">
                        <dt><img src="/static/images/earth.png"></dt>
                        <dd>地图链接</dd>
                    </dl>
                    <dl id="chart" style="right:0.21%;">
                        <dt><img src="/static/images/go_line.png" alt=""></dt>
                        <dd>图谱链接</dd>
                    </dl>
                </div>
            </div>
            <div class="influnce" style="margin:8px 0 0 42px;">
                <div class="influ-1">
                    <h4 class="influ_one">
                        <p><span>活跃度</span><b class="level0"></b></p>
                    </h4>
                    <h4 class="influ_two">
                        <p><span>影响力</span><b class="level1"></b></p>
                    </h4>
                    <h4 class="influ_three">
                        <p><span>敏感度</span><b class="level2"></b></p>
                    </h4>
                </div>
            </div>
            <div class="basic-2">
                <h3>基本信息</h3>
                <div class="information">
                    <p class="in_one">
                        <span>微博ID</span><span class="ID crude"></span>
                        <span>人物昵称</span><span class="happen_time crude"></span>
                    </p>
                    <p class="in_two">
                        <span>是否认证</span><span class="attest crude"></span>
                        <span>认证类型</span><span class="attest_type crude"></span>
                    </p>
                    <p class="in_three">
                        <span>个人描述</span><span class="description crude" style="width: 250px;"></span>
                    </p>
                    <p class="in_four">
                        <span>注册地</span><span class="place crude"></span>
                        <span>身份</span><span class="identity crude"></span>
                    </p>
                    <p class="in_five">
                        <span>粉丝数</span><span class="fansnum crude"></span>
                        <span>关注数</span><span class="focus crude"></span>
                    </p>
                    <p class="in_six">
                        <span>微博数</span><span class="weibonum crude"></span>
                        <span>微博链接</span>
                        <span class="weibo_link crude" style="width:220px;">
                            <a href=""></a>
                        </span>
                    </p>
                    <p class="in_seven">
                        <span>业务标签</span><span class="tag crude"></span>
                    </p>
                    <div class="in_photo">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="influnce" style="margin-top:8px;padding-bottom:25px;">-->
            <!--<h3>影响力信息</h3>-->
            <!--<div class="influ-1">-->
                <!--<h4 class="influ_one">-->
                    <!--<p style="display: inline-block;width: 180px;"><span>活跃度为</span><b class="active0"></b></p>&nbsp;-->
                    <!--<b class="level0"></b>-->
                <!--</h4>-->
                <!--<h4 class="influ_two">-->
                    <!--<p style="display: inline-block;width: 180px;"><span>影响力为</span><b class="active1"></b></p>&nbsp;-->
                    <!--<b class="level1"></b>-->
                <!--</h4>-->
                <!--<h4 class="influ_three">-->
                    <!--<p style="display: inline-block;width: 180px;"><span>敏感度为</span><b class="active2"></b></p>&nbsp;-->
                    <!--<b class="level2"></b>-->
                <!--</h4>-->
            <!--</div>-->
        <!--</div>-->
        <div class="activity">
            <h3>活动信息</h3>
            <div class="location">
                <div class="message">
                    <p class="mes_one">
                        <span>活跃位置</span>&nbsp;&nbsp;<span class="position"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p>
                        <span>IP地址</span>&nbsp;&nbsp;<span class="IP"></span>
                    </p>
                    <p class="mes_two">
                        <span>在</span>&nbsp;<span class="time"></span>&nbsp;<span>最为活跃</span>
                    </p>
                </div>
            </div>
            <div id="activity_map" style="width:80%;height:400px;margin:40px auto 0;">

            </div>
        </div>
        <div class="social" style="padding-top:35px;">
            <h3>社交信息</h3>
            <div class="social-1">
                <h4 class="soc_one">
                    <span style="cursor: pointer;">转发用户</span>
                    <button id="one" style="float:right;" type="button" class="btn btn-default btn-xs">更多</button>
                    <span class="user"></span>
                </h4>
                <h4 class="soc_two">
                    <span style="cursor: pointer;">被转发用户</span>
                    <button id="two" style="float:right;" type="button" class="btn btn-default btn-xs">更多</button>
                    <span class="user"></span>
                </h4>
                <h4 class="soc_three">
                    <span style="cursor: pointer;">评论用户</span>
                    <button id="three" style="float:right;" type="button" class="btn btn-default btn-xs">更多</button>
                    <span class="user"></span>
                </h4>
                <h4 class="soc_four">
                    <span style="cursor: pointer;">被评论用户</span>
                    <button id="four" style="float:right;" type="button" class="btn btn-default btn-xs">更多</button>
                    <span class="user"></span>
                </h4>
            </div>
        </div>
        <div class="preference" style="margin-top:18px;">
            <h3>偏好信息</h3>
            <div class="talk" style="width: 80%;margin:30px auto 10px;">
                <p>
                    <span>话题</span>
                    <span class="talk_name"></span>
                </p>
            </div>
            <div style="width: 100%;height: 250px;">
                <div id="key_words" style="width:46%;height:250px;text-align: center;float:left;
            margin:20px auto;background-color:#f3f4f5;"></div>
                <div id="micro_topic" style="width: 46%;height:250px;text-align: center;float:left;
            margin:0 auto;background-color:#f3f4f5;"></div>
            </div>
        </div>
        <div class="text">
            <h3>文本信息</h3>
            <div class="text_information">
                <div id="group_emotion_loading" style="display:block;text-align:center;">正在加载，请稍后...</div>
                <div id="influeweibo" style="overflow-x: auto; overflow-y: auto;height:auto;">
                    <table id="input-table" class="In-table" style="width:620px;">
                        <tbody class="In-table" style='width:100%!important;'>
                        </tbody>
                    </table>
                </div>
                <div class='fanye' style="width:100%;text-align:center;margin-top: 20px;">
                    <span style="display:none;">
                        每页显示
                        <input type="text" id="PageNo" size="5" value="5"
                               style='text-align:center;border:1px solid #ccc;'/>组
                    </span>
                    <div id="div-button" style="display:inline-block;margin-left:5px;">
                        <input type="button" value="首页" id="F-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="上一页" id="Pre-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="下一页" id="Nex-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                        <input type="button" value="尾页" id="L-page"
                               style='border-radius: 5px;padding: 3px 5px;font-size: 10px;'>
                    </div>
                    <span style="display:inline-block;">&nbsp;当前第<span id="s2"></span>页</span>
                    <span style="display:inline-block;">总共<span id="s1"></span>页</span>
            </div>
            </div>
        </div>
    </div>
    <div id="content_right">
        <div class="link_user">
            <h3>关联人物</h3>
            <div class="users" style="text-align: center;margin: 20px 0;">

            </div>
            <button class="user_more" type="button" data-toggle="modal">+查看详情</button>
        </div>
        <div class="link_event" style="margin: 10px 0;">
            <h3>关联事件</h3>
            <div class="events" style="text-align: center;margin:20px 0;">

            </div>
            <button class="event_more" type="button" data-toggle="modal">+查看详情</button>
        </div>
        <div class="link_agency" style="margin: 10px 0;">
            <h3>关联机构</h3>
            <div class="agencys" style="text-align: center;margin:20px 0;">

            </div>
            <button class="agency_more" type="button" data-toggle="modal">+查看详情</button>
        </div>
        <div class="link_knowledge" style="margin: 10px 0;">
            <h3>关联知识</h3>
            <div class="knowledge" style="text-align: center;margin:20px 0;">

            </div>
            <button class="knowledge_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
        <div class="link_resources" style="margin: 10px 0;">
            <h3>关联资源</h3>
            <div class="resources" style="text-align: center;margin:20px 0;">

            </div>
            <button class="resources_more" type="button" data-toggle="modal">+查看更多</button>
        </div>
    </div>
</div>

<div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title tit_h4" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="link_content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script>
    var s=1;
    $('#focus').on('click',function () {
        if (s==1){
            $(this).attr('src','/static/images/gov_xin.png');
            s=2;
        }else {
            $(this).attr('src','/static/images/gov_circle.png');
            s=1;
        }
    });
    var result_1={{result_att|tojson}};
    var result_2={{relation_dict|tojson}};
    var result_3={{inter_list|tojson}};
    var result_4={{friends_dict|tojson}};
    var result_5={{text_list|tojson}};

    var user_id=result_1.uid;

    $('#chart').on('click',function () {
        window.open('/index/graph/?user_id='+user_id+'&node_type=user');
    });
    $('#map').on('click',function () {
        window.open('/index/map/?user_id='+user_id+'&node_type=user');
    });

    $('#person_content #content_left .basic .basic-1 .edit').on('click',function () {
        window.open('/construction/graph_modify/?_id='+$('.user_name').text()+'&_type=User');
    });
</script>
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/person-1.js"></script>
<script src="/static/js/person-2.js"></script>
<script src="/static/js/person-3.js"></script>
{% endblock %}
